	<nav class="bread">
		<a href="/cart" title="Shopping Cart">Shopping Cart</a>
	</nav>
	<div id="main" role="main">
		<div class="content">
			<% if @cart %>
			<% if @error %>
			<ul class="form-errors">
				<li>Please enter a valid promo code.</li>
				<li>Please enter a valid email address.</li>
			</ul>
			<% end %>
			<div class="table cart-options">
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey">&lt; Continue Shopping</a>
					</div>
					<div class="cell right">
						<a href="/cart/checkout" title="Checkout" class="action red"><i class="icon-checkout pictos"></i> Checkout</a>
					</div>
				</div>
			</div>
			<ul class="product-list cart">
				<% @cart.each do |k,v| %>
				<li>
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/<%= "#{v['product_photo']}" %>" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="<%= "#{v['product_name']}" %>" class="title"><%= "#{v['product_name']}" %></a>
							<div class="price-buttons">
								<div class="row">
									<span class="price-one"><del><strong>$<%= "#{v['product_price']}" %></strong></del></span>
									<span class="price-two"><strong>Sale: $<%= "#{v['product_price']}" %></strong></span>
									<span class="product-style">Style: Medium Grey</span>
								</div>
								<div class="row">
									<form method="post" action="/cart/update" class="update">
										<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
										<input type="hidden" name="product_price" value="<%= "#{v['product_price']}" %>" >
										<span class="label-qty">Quantity:</span>
										<select name="product_quantity" class="select-submit">
											<option value="1"<%=(v['product_quantity'] == '1') ? ' selected' : '' %>>1</option>
											<option value="2"<%=(v['product_quantity'] == '2') ? ' selected' : '' %>>2</option>
											<option value="3"<%=(v['product_quantity'] == '3') ? ' selected' : '' %>>3</option>
											<option value="4"<%=(v['product_quantity'] == '4') ? ' selected' : '' %>>4</option>
											<option value="5"<%=(v['product_quantity'] == '5') ? ' selected' : '' %>>5</option>
											<option value="6"<%=(v['product_quantity'] == '6') ? ' selected' : '' %>>6</option>
											<option value="7"<%=(v['product_quantity'] == '7') ? ' selected' : '' %>>7</option>
											<option value="8"<%=(v['product_quantity'] == '8') ? ' selected' : '' %>>8</option>
											<option value="9"<%=(v['product_quantity'] == '9') ? ' selected' : '' %>>9</option>
											<option value="10"<%=(v['product_quantity'] == '10') ? ' selected' : '' %>>10</option>
											<option value="11"<%=(v['product_quantity'] == '11') ? ' selected' : '' %>>11</option>
											<option value="12"<%=(v['product_quantity'] == '12') ? ' selected' : '' %>>12</option>
											<option value="13"<%=(v['product_quantity'] == '13') ? ' selected' : '' %>>13</option>
											<option value="14"<%=(v['product_quantity'] == '14') ? ' selected' : '' %>>14</option>
											<option value="15"<%=(v['product_quantity'] == '15') ? ' selected' : '' %>>15</option>
											<option value="16"<%=(v['product_quantity'] == '16') ? ' selected' : '' %>>16</option>
											<option value="17"<%=(v['product_quantity'] == '17') ? ' selected' : '' %>>17</option>
											<option value="18"<%=(v['product_quantity'] == '18') ? ' selected' : '' %>>18</option>
											<option value="19"<%=(v['product_quantity'] == '19') ? ' selected' : '' %>>19</option>
											<option value="20"<%=(v['product_quantity'] == '20') ? ' selected' : '' %>>20</option>
										</select>
									</form>
									<form method="post" action="/cart/delete" class="delete">
										<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
										<button type="submit" class="action grey"><i class="pictos icon-remove"></i> Remove</button>
									</form>
								</div>
								<div class="row info-shipping">
									<p><strong>Shipping Method: LTL</strong></p>
									<% if ("#{v['product_backordered']}" == "0") %>
									<p class="special-msg">Back Ordered - Available 06/01/2012</p>
									<% end %>
								</div>
							</div>
						</div>
					</div>					
				</li>
				<% end %>
			</ul>
			<div class="promo-code">
				<a href="#" class="toggle" data-toggle="form-promo">Have a Promo code? <i class="pictos icon-circle-plus promo"></i></a>
				<form method="post" action="/cart/promo" id="form-promo" class="hide validate">
					<div class="form-unit">
						<div class="form-input">
							<label for="promo-code">Promo Code:</label>
							<input type="text" name="promo_code" id="promo-code" data-valid="error-promo-code" required>
						</div>
						<span class="error-field hide" id="error-promo-code">Promo Code is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="promo-email">Email Address:</label>
							<input type="email" name="promo_email" id="promo-email" data-valid="error-promo-email" required>
						</div>
						<span class="error-field hide" id="error-promo-email">Email address is a required field</span>
					</div>
					<a href="#" class="toggle" data-toggle="why-email">Why we need your email? <i class="pictos icon-circle-plus promo"></i></a>
					<p id="why-email" class="hide">Each promotional code is only allowed to be used a certain number of times. We use your email address to determine how many times you have used a particular promotional code. By entering your email address here, you will NOT be sent any emails or added to any email lists. We are just using your email address for validation purposes. Please see our Privacy Policy for further information.</p>
					<button type="submit" class="action grey">Apply the Promo Code</button>
				</form>
			</div>
			<div class="table cart-options bottom">
				<div class="row">
					<div class="cell verisign">
						<img src="/wcpics/TroyBiltMobile/en_US/images/verisign.png" alt="Verisign">
					</div>
					<div class="cell cart-totals">
						<div class="table">
							<div class="row">
								<div class="cell">Item Total:</div>
								<div class="cell">$<%=@cart_amount%></div>
							</div>
							<div class="row">
								<div class="cell">Savings:</div>
								<div class="cell">-$12.00</div>
							</div>
							<div class="row border">
								<div class="cell">Shipping:</div>
								<div class="cell">$6.00</div>
							</div>
							<div class="row">
								<div class="cell"><strong>Subtotal:</strong></div>
								<div class="cell"><strong>$<%=@cart_subamount%></strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey">&lt; Continue Shopping</a>
					</div>
					<div class="cell right">
						<a href="/cart/checkout" title="Checkout" class="action red"><i class="icon-checkout pictos"></i> Checkout</a>
					</div>
				</div>
			</div>
			<% else %>
				<p class="empty">Your cart is currently empty.</p>
			<% end %>
			<div class="espot">
				<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
			</div>
		</div>
	</div>