	<nav class="bread">
		<a href="/stores" title="Shopping Cart">Shopping Cart</a>
	</nav>
	<div id="main" role="main">
		<div class="content">
			<div class="table cart-options">
				<div class="row">
					<div class="cell">
						<a href="javascript:alert('Link Not Implemented');" title="Continue Shopping" class="action grey">&lt; Continue Shopping</a>
					</div>
				</div>
			</div>
			<ul class="product-list cart">
				<li>
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="Product Name">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/prod-list-1.png" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<p class="error">The product you selected cannot be added to your Shopping Cart at this time.</p>
						</div>
					</div>					
				</li>
			</ul>
			<div class="espot">
				<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
			</div>
		</div>
	</div>