<div id="main" role="main" class="main-content">
	<h1>Change Password</h1>
	<!-- Server Side Errors, use html below.
	<ul class="form-errors">
		<li>Please enter your username, it normally is your email address.</li>
		<li>Please enter your password.</li>
	</ul>
	-->
	<div class="checkout-block">
		<p>Your password has been successfully updated.</p>
	</div>
</div>