<div id="main" role="main" class="main-content">
	<h1>Change Password</h1>
	<p>Please create a new password.</p>
	<!-- Server Side Errors, use html below.
	<ul class="form-errors">
		<li>Please enter your username, it normally is your email address.</li>
		<li>Please enter your password.</li>
	</ul>
	-->
	<div class="checkout-block">
		<form action="/change-password" method="post" class="validate account-create">
			<div class="form-unit">
				<div class="form-input">
					<label for="current-password">Current Password:</label>
					<input type="password" name="current_password" id="current-password" data-valid="error-current-password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
				</div>
				<span class="error-field hide" id="error-current-password">Current Password is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password">New Password:</label>
					<input type="password" name="password" id="password" data-valid="error-password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
				</div>
				<span class="error-field hide" id="error-password">New Password is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password-confirm">Confirm New Password:</label>
					<input type="password" name="password_confirm" id="password-confirm" data-valid="error-password-confirm" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
				</div>
				<span class="error-field hide" id="error-password-confirm">Confirm New Password is a required field</span>
			</div>
			<input type="hidden" name="return_url" value="/owners-center" />
			<button class="action red large" type="submit">Change Password</button>						
			<p class="user-errors hide">It appears you have some missing required fields or invalid information. Please review your information for errors.</p>					
			<p class="user-pwd-match hide">Your password's do not match. Please enter and confirm your password again.</p>
		</form>
	</div>
</div>