<div id="main" role="main" class="main-content">
	<h1>Contact Us</h1>
	<h3>How may we help you?</h3>
	<p>
		As our valued customer, you have help available right here, any time you need it.
	</p>
	<!-- <p>
		<a href="javascript:alert('Link not implemented yet');" rel="nofollow" class="action large red email-question">View Frequently Asked Questions <i class="pictos icon-arrow-contact"></i></a>
	</p> -->
	<nav class="drill-down">
		<ul>
			<li>
				<a href="javascript:alert('Link not implemented yet');" rel="nofollow">Frequently Asked Questions 	<span class="arrow-r pictos icon-circle-arrow"></span></a>
			</li>
		</ul>
	</nav>
	<p>
		Touch the button above to view FAQs or submit a question to our dedicated support team.
	</p>		
	<p>
		<a href="tel:1-800-828-5500" rel="nofollow" class="action large red call-help"><i class="pictos icon-phone"></i> Need Help? Call 1-800-828-5500</a>
	</p>	
	<p>
		Mon - Fri 8am-6pm EST<br />
		Sat 9am-5pm EST<br />
		Closed Sundays
	</p>
</div>