<nav class="bread">
   <a href="/" title="Home">Home</a> / <a href="/products" title="Products">Products</a> / <a href="/education/lawn-care" title="Lawn Care">Lawn Care</a> / <a href="/education/lawn-care/lawn-mowers" title="Lawn Care"><strong>Walk-Behind Mowers</strong></a>
</nav>
<div id="main" role="main" class="main-content category-education">
  <article>
    <section class="category-overview">
      <div class="pic">
        <img src="/wcpics/TroyBiltMobile/en_US/images/content/walk-behind-cat-overview.png" alt="Walk-behind mower image" />
      </div>
      <div class="description">
        <h1>Walk-Behind Mowers</h1>
        <p>
          Troy-Bilt® offers a full line of push and self-propelled, walk-behind lawn mowers to maintain lawns of many shapes and sizes. All walk-behind mowers also come with helpful features like the TriAction® cutting system. 
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="action red-gradient">View the full line of lawn mowers</a>
      </div>
    </section>
    <section class="category-features">
      <div class="intro">
        <h1>How to choose a walk-behind mower</h1>
        <p>
          There are several factors that can narrow your search for a new walk-behind lawn mower. Those include your yard size, type of terrain, and whether or not you want to push the mower.
        </p>
        <ul>
          <li>
            <a href="#push-or-self-propelled">Push or self-propelled?</a>
          </li>
          <li>
            <a href="#terrain">Think about your terrain</a>
          </li>
          <li>
            <a href="#front-vs-rear-wheel">Front wheel drive vs. rear wheel drive</a>
          </li>
          <li>
            <a href="#speed-controls">Speed controls: single vs. variable speed</a>
          </li>
          <li>
            <a href="#triaction">The TriAction cutting system</a>
          </li>
          <li>
            <a href="#starting-options">Starting options</a>
          </li>
          <li>
            <a href="#how-built">How We’re Built</a>
          </li>
        </ul>
      </div>
      <div id="push-or-self-propelled" class="category-feature">
        <h2>Push or self-propelled?</h2>
        <p>
          Walk-behind <strong>push mowers</strong> are best for smaller yards, usually half an acre or less in size. They are also better for flat lawns, because they do not offer help mowing uphill. 
          <a href="#" onclick="alert('link not implemented'); return false" class="more">See all push mowers</a>
        </p>
        <p>
          <strong>Self-propelled</strong> walk-behind mowers are best for yards larger than half an acre in size. They have built-in drive systems, which make it easier to mow up hills and for longer periods of time. 
          <a href="#" onclick="alert('link not implemented'); return false" class="more">See all self-propelled mowers</a>
        </p>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/self-propelled-infopic.jpg" alt="Self-Propelled Mower Pic">
          <em class="caption">Consider a self-propelled mower if you have a larger or hilly lawn.</em>
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="terrain" class="category-feature">
        <h2>Think about your terrain</h2>
        <p>
          If you have a rough landscape, with a lot of bumps, roots, rocks and hills, look for a walk-behind mower with high rear wheels. They make it easier to roll over uneven and rough yards, and are more maneuverable. Self-propelled mowers also make it easier to tackle.
        </p>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/terrain-infopic.jpg" alt="Rear Wheels Pic">
          <em class="caption">Handle hills and obstacles easily with high rear wheels.</em>
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="front-vs-rear-wheel" class="category-feature">
        <h2>Front wheel drive vs. rear wheel drive</h2>
        <p>
          There are two types of drive systems on self-propelled mowers: front wheel drive and rear wheel drive.
        </p>
        <p>
          <strong>Front wheel drive</strong> pulls the walk-behind mower along, and you can keep the drive engaged while making turns. They are best for larger, flat lawns.
          <a href="#" onclick="alert('link not implemented'); return false" class="more">See all front wheel drive mowers</a>
        </p>
        <p>
          <strong>Rear wheel drive</strong> gives you better traction, especially when mowing on hills, uneven terrain or when bagging.
          <a href="#" onclick="alert('link not implemented'); return false" class="more">See all rear wheel drive mowers</a>
        </p>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/rear-wheel-infopic.jpg" alt="Rear Wheel Drive Pic">
          <em class="caption">Use rear wheel drive for better traction.</em>
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="speed-controls" class="category-feature">
        <h2>Speed controls: single vs. variable speed</h2>
        <p>
          There are several types of speed systems on self-propelled, walk-behind mowers. 
        </p>
        <p>
          <strong>Single-speed systems</strong> have one set speed that can be engaged or disengaged.
        </p>
        <p>
          <strong>Variable-speed systems</strong> allow you to choose your pace.
        </p>
        <ul>
          <li>
            <strong>Normal variable-speed control</strong> lets you adjust your speed by squeezing a lever on the handles.
          </li>
          <li>
            <strong>InStep™ speed control</strong> reacts to the how much you push the mower and adjusts the pace to speed up or slow down. This makes it easier to mow at the perfect speed
          </li>
        </ul>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/speed-control-infopic.jpg" alt="Speed Controls Pic">
          <em class="caption">Variable speed controls allow to you adjust your mowing pace.</em>
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="triaction" class="category-feature">
        <h2>The TriAction® cutting system</h2>
        <p>
          This cutting system was engineered to deliver a clean, even cut every time. It also includes an improved bag with a bigger opening to collect and empty clippings more easily. It works in three steps:
        </p>
        <ol>
          <li>
            A <strong>rake guard</strong> stands grass upright for a clean cut.
          </li>
          <li>
            An <strong>S-blade</strong> with a longer stepped cutting edge creates greater lift for a finer cut.
          </li>
          <li>
            The <strong>symmetrical deck</strong> improves airflow and works with the blade to cut clippings more times, producing a finer mulch.
          </li>
        </ol>
        <p>
          <a href="#" onclick="alert('link not implemented'); return false" class="more">Watch a video about the TriAction cutting system</a>
        </p>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/triaction-infopic.jpg" alt="TriAction Cutting System Pic">
          <em class="caption">The TriAction cutting system delivers a clean, even cut every time.</em>
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="starting-options" class="category-feature">
        <h2>Starting options</h2>
        <p>
          You have several options available for starting your walk-behind lawn mower. 
        </p>
        <ul>
          <li>
            <strong>Recoil start</strong> requires you to pull the recoil cord to start the mower.
          </li>
          <li>
            <strong>Electric start</strong> lets you skip the recoil method and start with the push of a button.
          </li>
          <li>
            Mowers with Briggs &amp; Stratton® engines also have the <strong>Starting Promise™</strong>, which means if the walk-behind mower doesn’t start in two pulls, it will be fixed for free.
          </li>
        </ul>
        <div class="infopic">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/our-promise-infopic.jpg" alt="Starting Promise Pic">
        </div>
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
      <div id="how-built" class="category-feature">
        <h2>How We’re Built</h2>
        <p>
          Your work in the yard inspires us to design, test and build the most reliable mowers we possibly can. Take a tour of the Troy-Bilt testing floor and see what it takes to be built for life.
          <a href="#" onclick="alert('link not implemented'); return false" class="more">Watch the How We’re Built walk-behind mower video series</a>
        </p>
        <div class="infopic">
          <a href="http://www.youtube.com/watch?v=u-GPY4guh0w" class="tmb-link"><img src="/wcpics/TroyBiltMobile/en_US/images/content/how-built-video-thumbnail.jpg" alt="How We're Built Video Thumbnail"></a>
        </div> 
        <a href="#main" class="back-to-top">Back to top</a> 
      </div>
    </section>
  </article>
</div>