<div id="main" role="main" class="main-content">
  <h1>Email this page to a friend</h1>
  <p class="related">
    Please complete the fields below, and we'll send your friend an email with a link to this page:
  </p>
  <p><strong><%=@doc_title%></strong></p>
  <div class="checkout-block shipping">
    <form action="/email-friend" method="post" class="validate email-friend" novalidate> 
      <div class="form-unit">
        <div class="form-input">
          <label for="friend-emails">*Friend's Email(s):</label>
          <textarea name="friend_emails" id="friend-emails" class="email-list" data-valid="error-emails" data-valid-msg="error-emails-msg" required></textarea> 
        </div> 
        <span class="error-field hide" id="error-emails">Friend's Email(s) is a required field</span>  
        <span class="error-field hide" id="error-emails-msg"></span>           
        <p>
          <span class="field-note">Maximum of 5. Separate each email with a comma.</span>
        </p>
      </div>
      <div class="form-unit">
        <div class="form-input">
          <label for="your-name">*Your Name:</label>
          <input type="text" name="your_name" id="your-name" data-valid="error-name" required>
        </div>
        <span class="error-field hide" id="error-name">Your Name is a required field</span>
      </div>
      <div class="form-unit">
        <div class="form-input">
          <label for="your-email">*Your Email:</label>
          <input type="email" name="your_email" id="your-email" data-valid="error-email" required>
        </div>      
        <span class="error-field hide" id="error-email">Your Email is a required field</span>
      </div>
      <div class="form-unit">
        <div class="form-checkbox">
          <input type="checkbox" name="send_copy" id="send-copy" class="block-check" />
          <label for="send-copy" class="block-label">Send me a copy of this message.</label>
        </div>
      </div>
      <p>
        <input type="hidden" name="doc_title" value="<%=@doc_title%>" />
        <input type="hidden" name="doc_uri" value="<%=@doc_uri%>" />
        <button type="submit" class="action red large">Send Email</button>
      </p>
    </form>
  </div>
</div>