<div id="main" role="main" class="main-content form-page">
	<h1>Forgot Password?</h1>
	<% if @flash_notice %>
	<div class="flash-notice">
		<%= @flash_notice %>
	</div>
	<% end %>
	<!-- Server Side Errors, use html below.
	<ul class="form-errors">
		<li>Please enter an email address.</li>
		<li>Email address does not exist or was entered incorrectly.</li>
		<li>Email address must contain an "@" and "."</li>
	</ul>
	-->
	<p>	
		Type your email address in the field below to receive your password by email:
	</p>
	<% if @from == 'cart'%>
	<p>
		If you do not have an account, please <strong>continue as a guest</strong> and you will be able to create one.
	</p>
	<% end %>
	<form action="/forgot-password" method="post" class="form-forgot-password validate" name="form_forgot_password">
		<div class="form-unit">
			<div class="form-input">
				<label for="email">Email Address:</label><br />
				<input type="email" id="email" name="email" required data-valid="error-email">
			</div>
			<span class="error-field hide" id="error-email">Please enter a valid email (must contain an "@" and ".")</span>
		</div>
		<p>
			<button type="submit" class="action red send-password">Send Password</button>
			<% if @from == 'cart'%>
			<span class="inline-or">OR</span> 
			<a href="/cart/checkout/shipping" class="action grey continue-guest">Continue As Guest</a>
			<% end %>
		</p>
	</form>
</div>