<div id="main" role="main" class="main-content">
	<h1>How to Change the Air Filter on a Troy-Bilt Edger</h1>
	<h2 class="timecode"><strong>Length of clip:</strong> 1:17</h2>
	<p>
		This video will show you how to replace the air filter on the Troy-Bilt edger.  Depending on your model, the instructions in this video may vary slightly.  Always be sure to check your operator's manual for detailed instructions.
	</p>
	<div class="inline-video">
		<a href="http://www.youtube.com/watch?v=u-GPY4guh0w" title="How to Change the Air Filter on a Troy-Bilt Edger">
			<img src="http://i2.ytimg.com/vi/u-GPY4guh0w/hqdefault.jpg">
			<span class="video-overlay">&nbsp;</span>
		</a>
	</div>
	<h2 class="instructions">Instructions</h2>
	<div class="steps table">
		<div class="row">
			<h3 class="cell">Step 1</h3>
			<div class="cell">
		    	<p>
					Remove the spark plug ignition wire.
				</p>
			</div>
		</div>	
		<div class="row">
			<h3 class="cell">Step 2</h3>
			<div class="cell">
		    	<p>
					Open the air filter cover by depressing the tab on the side.
				</p>
			</div>
		</div>	
		<div class="row">
			<h3 class="cell">Step 3</h3>
		    <div class="cell">
				<p>
					Remove the air filter elements.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 4</h3>
		    <div class="cell">
				<p>
					Separate the foam element from the paper element.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 5</h3>
		    <div class="cell">
				<p>
					Wash the foam element in mild detergent and water and allow it to dry completely.
				</p>
		    	<p>
					Warning: Never use gasoline or low flash-point solvents for cleaning the air cleaner element.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 6</h3>
		    <div class="cell">
				<p>
					Apply a few drops of clean engine oil to the foam element and squeeze out all excess oil.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 7</h3>
		    <div class="cell">
				<p>
					Assemble the paper and foam elements.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 8</h3>
		    <div class="cell">
				<p>
					Insert assembled air filter element and close the air cleaner cover.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 9</h3>
		    <div class="cell">	
				<p>
					Reconnect the spark plug ignition wire.
				</p>
			</div>
		</div>	
	</div>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
</div>