<div id="main" role="main" class="main-content">
	<h1>How to Change the Spark Plug on a Self-Propelled Mower</h1>
	<p>
		Before you start this project, make sure you have the correct spark plug.  Many plugs look alike, so refer to the Engine Operator's Manual to ensure that you have the correct spark plug for your engine.  Depending on your model number, the instructions listed below may vary slightly.
	</p>
	<h2 class="instructions">Instructions</h2>
	<div class="steps table">
		<div class="row">
			<h3 class="cell">Step 1</h3>
			<div class="cell">
				<p>
					The engine should be cool before starting this project.&nbsp; Begin by disconnecting the spark plug ignition wire.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 2</h3>
			<div class="cell">
				<p>
					Using a spark plug wrench and turning counterclockwise, remove the old spark plug from the mower.&nbsp; Check the gap on the new spark plug.&nbsp; Use a specialized gap tool or a set of feeler gauges to adjust the gap.&nbsp; Refer to your operator's manual for the correct gap.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 3</h3>
			<div class="cell">
				<p>
					Install the new spark plug, being careful not to cross-thread the plug.&nbsp; You should be able to thread it in smoothly by hand for a few turns.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 4</h3>
			<div class="cell">
				<p>
					Using the spark plug wrench, continue tightening.&nbsp; Make sure the plug is in firmly, but do NOT over-tighten it.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 5</h3>
			<div class="cell">
				<p>
					Reconnect the spark plug ignition wire and you're good to go!.
				</p>
			</div>
		</div>
	</div>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
</div>