<div id="main" role="main" class="main-content">
	<h1>Garden Tiller - Maintenance Schedule and Tips</h1>
	<div class="maintenance-schedule">
		<h2>Before Each Use</h2>
		<ol>
			<li>Check motor oil level</li>
			<li>Clean Engine</li>
		</ol>
		<h2>After 2-hour Break In</h2>
		<ol>
			<li>Check drive belt tension</li>
			<li>Check nuts and bolts</li>
			<li>Change motor oil</li>
			<li>Check transmission gear oil</li>
		</ol>
		<h2>Every 5 Hours of Use</h2>
		<ol>
			<li>Check motor oil level</li>
		</ol>
		<h2>Every 10 Hours of Use</h2>
		<ol>
			<li>Check drive belt tension</li>
			<li>Check nuts and bolts</li>
			<li>Change motor oil</li>
			<li>Lubricate filter</li>
		</ol>
		<h2>Every 30 Hours of Use</h2>
		<ol>
			<li>Check transmission gear oil</li>
			<li>Check air pressure in tires</li>
			<li>Check engine</li>
		</ol>
		<h2>See Engine Manual for Freq.</h2>
		<ol>
			<li>Clean engine</li>
			<li>Service air filter</li>
			<li>Service spark plug</li>
		</ol>
		<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
	</div>
</div>