<div id="main" role="main" class="main-content">
	<h1>Get Snow Removal Tips from Troy-Bilt</h1>
	<p>
		For many, removing snow from roads, sidewalks and driveways is an ongoing battle in the winter.  Snow and ice can damage your lawn, but so can the products used to remove them.  The most common - and generally the least expensive - chemical used for removing snow is sodium chloride (rock salt). 
	</p>
	<p>
		When salt is used near your lawn, your soil absorbs it.  Once in the soil, the salt absorbs water that would usually be available to the grass roots.  Even if your lawn is receiving adequate water, a high concentration of salt can create drought-like conditions for your grass.  Follow these tips for how to remove snow while minimizing turf damage.
	</p>
	<h2 class="tab"><span>Instructions</span></h2>
	
	<h1>Snow removal tips</h1>
	<p>
		Turf damage is usually the worst along the edges of the lawn - close to where salt has been spread to help remove snow from the driveway, walk or road.  Some of the most severe damage results from commercial salt treatments on city streets.  You can't control when, where or how your city applies deicers.  However, you can you can minimize your use of them when you are removing snow.
	</p>
	<p>
		To prevent turf damage, it's best to rely on non-chemical methods of removing snow.  Troy-Bilt snow blowers will help you clear snow efficiently and safely.  Keep in mind that the longer you allow snow to sit, the more difficult it will become to clear.  If you use deicer before clearing the snow, apply just enough to help loosen the accumulation.  Avoid blowing or piling salted snow onto your- or your neighbor's - lawn.  It's best to apply deicer after you remove snow from your driveway or sidewalks.
	</p>
	<p>
		If your soil becomes concentrated with salt during the winter, spring rains may be enough to flush it out.  Otherwise, you may need to irrigate your lawn with clean, sodium-free water.  Before you irrigate, be sure that your lawn drains properly.  Water-logging your soil can be as harmful to your turf as a high concentration of salt.  Core aeration will improve your lawn drainage and soil fertility.
	</p>
	<p>
		Turf damage is usually the most evident at the onset of spring when your lawn is greening up.  If you notice thin, bare or dead spots, you should consider lawn reseeding.  Minimizing your grass's exposure to salt and other deicing products will make your spring lawn care easier.  In addition to following these snow removal tips, be sure you use genuine Troy-Bilt snow blower parts to keep your machine running smoothly all winter.
	</p>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
</div>