	<div id="main" role="main">
		<div id="hero">
			<div id="slider">
			  <ul>
			    <li style="display:block;position:relative;">
						<a href="#" title="">
							<h2>Lorem ipsum dolor sit amet</h2>
							<img src="/wcpics/TroyBiltMobile/en_US/images/content/hero-one.gif">
						</a>
					</li>
			    <li style="display:none;position:relative;">
						<a href="#" title="">
							<h2>Lorem ipsum dolor sit amet</h2>
							<img src="/wcpics/TroyBiltMobile/en_US/images/content/hero-two.jpg">
						</a>	
					</li>
			    <li style="display:none;position:relative;">
						<a href="#" title="">
							<h2>Lorem ipsum dolor sit amet</h2>
							<img src="/wcpics/TroyBiltMobile/en_US/images/content/hero-three.jpg">
						</a>
					</li>
			  </ul>			
			</div>
			<nav id="slider-nav">
				<ul class="group">
					<li class="col" id="slider-pos">
						<span>
							<em class="on">&bull;</em>
							<em>&bull;</em>
							<em>&bull;</em>
						</span>
					</li>
				</ul>
			</nav>
		</div>
		<nav class="drill-down">
			<ul>
				<li><a href="/products" title="Browse Products">Browse Products <span class="arrow-r pictos icon-circle-arrow"></span></a></li>
				<li><a href="/owners/find-parts" title="Find Parts">Find Parts <span class="arrow-r pictos icon-circle-arrow"></span></a></li>
				<li><a href="/owners" title="Owner's Center">Owner's Center <span class="arrow-r pictos icon-circle-arrow"></span></a></li>
				<li><a href="/videos" title="Watch Videos">Watch Videos <span class="arrow-r pictos icon-circle-arrow"></span></a></li>
			</ul>
		</nav>
		<div class="espot">
			<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
		</div>
	</div>