<div id="main" role="main" class="main-content landing-page">
  <div class="espot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/landing-2-banner.jpg" alt="Your lawn has finally met its match" /></div>
  <h1>Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae cras tempor.</h1>
  <p>
    Whether you prefer a walk-behind lawn mower, a lawn tractor or a zero-turn riding lawn mower, we have plenty of options that will help you accomplish your lawn and garden goals.
  </p>
  <div class="product-teaser">
    <div class="espot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/promo-riding.jpg" /></div>
    <h2>Riding mowers nam ante nulla interdum vel tristique ac non, tellus.</h2>
    <p>
      Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio.
    </p>
    <div class="table">
      <div class="row">
        <div class="cell tmb">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/promo-riding-tmb.jpg" />
        </div>
        <div class="cell">
          <p>
            Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pee eu diam. Aliquam iaculis.
          </p>
        </div>
      </div>
    </div>
    <a href="#" onclick="alert('link not implemented'); return false" class="action red">See our riding mowers</a>
  </div>
  <div class="product-teaser">
    <div class="espot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/promo-walk-behind.jpg" /></div>
    <h2>Walk-behind mowers nam ante nulla interdum vel tristique.</h2>
    <p> 
      Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. 
    </p>
    <div class="table">
      <div class="row">
        <div class="cell tmb">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/promo-walk-behind-tmb.jpg" />
        </div>
        <div class="cell">
          <p>
            Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pee eu diam. Aliquam iaculis.
          </p>
        </div>
      </div>
    </div>
    <a href="#" onclick="alert('link not implemented'); return false" class="action red">See our walk-behind mowers</a>
  </div>
  <div class="where-to-buy">
    <h2>Where to Buy</h2>
    <div class="table">
      <div class="row">
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap lowes">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/lowes.png" />
            </span>
          </a>
        </div>
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/logo-auth.png" class="authorized" />
            </span>
          </a>
        </div>
      </div>
    </div>
    <p>
      Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
    </p>
  </div>
</div>

