<div id="main" role="main" class="main-content landing-page">
  <div class="espot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/fall-banner.jpg" alt="Fall cleanup has never been easier."></div>
  <h1>With Troy-Bilt&reg;, it’s a snap to get your yard winter-ready.</h1>
  <p>
    Troy-Bilt&reg; has the products and power you need to get your yard in shape for winter. From chipping to shredding to log splitting to leaf blowing, we have your cleanup needs covered.
  </p> 
  <div class="landing-briefs table">
    <div class="row">
      <div class="cell tmb">
        <img src="/wcpics/TroyBiltMobile/en_US/images/content/chipper.jpg" />
      </div>
      <div class="cell description">
        <h2>CSV 060 Chipper Shredder Vacuum</h2>
        <p>
          Powered by a 190cc* OHV Briggs &amp; Stratton&reg; engine, this wood chipper shredder vac combo can turn eight bags of debris into one - and an unkempt lawn into a great-looking one. Ideal for picking up fall leaves and spring yard cleanup.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="action red">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="cell tmb">
        <img src="/wcpics/TroyBiltMobile/en_US/images/content/log-splitter.jpg" />
      </div>
      <div class="cell description">
        <h2>27-Ton Hydraulic Log/Wood Splitter</h2>
        <p>
          Armed with a 160cc* OHV Honda engine, cast-iron splitting wedges and heavy duty construction - this machine delivers 27 U.S. tons of ram force. That's enough power to make a stack of firewood out of even your largest trees and logs.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="action red">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="cell tmb">
        <img src="/wcpics/TroyBiltMobile/en_US/images/content/chipper2.jpg" />
      </div>
      <div class="cell description">
        <h2>2-in-1 Heavy Duty Wood Chipper Shredder</h2>
        <p>
          The bigger the wood chipping and shredding job, the more power you'll need - like the heavy duty CS 4325 chipper shredder. With its bigger 3" chipping capacity and a 10:1 debris reduction ratio, it has all the muscle you need to get the job done.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="action red">Learn more</a>
      </div>
    </div>
    <div class="row">
      <div class="cell tmb">
        <a href="http://youtu.be/_pdldH-lHaw">
          <img src="/wcpics/TroyBiltMobile/en_US/images/content/leaf-video-tmb.jpg" />
        </a>
      </div>
      <div class="cell description">
        <h2>25cc*, 4-Cycle Gas Leaf Blower</h2>
        <p>
          Clean up fall leaves quickly and easily with Troy-Bilt's TB4HB EC gas leaf blower. The 25cc, 4-cycle full-crank engine eliminates the need to mix gas and oil, offers up to 150 mph airflow velocity and is JumpStart&trade; compatible.
        </p>
        <a href="#" onclick="alert('link not implemented'); return false" class="action red">Learn more</a>
      </div>
    </div>
  </div>
  <p class="caption">
    <small>*as rated by engine manufacturer</small>
  </p>
  <div class="where-to-buy">
    <h2>Where to Buy</h2>
    <div class="table">
      <div class="row">
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap lowes">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/lowes.png" />
            </span>
          </a>
        </div>
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/logo-auth.png" class="authorized" />
            </span>
          </a>
        </div>
      </div>
    </div>
    <p>
      Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
    </p>
  </div>
</div>

