<div id="main" role="main" class="main-content landing-page">
  <div class="espot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/landing-3-banner.jpg" alt="Meet the all-new Neighborhood Rider."></div>
  <h1>Combining the ease and power of a riding mower with the maneuverability and size of a walk-behind, the all-new Neighborhood Rider isn't your typical lawn mower.</h1>
  <p>
    The Neighborhood Rider adjusts to fit you, making yardwork more comfortable. And the its compact size makes storage easy. It's the perfect mower for the person who doesn't need a full-size lawn tractor, but wants the power of one.
  </p> 
  <div class="callout">
    <h2>Want to learn more about the Neighborhood Rider?</h2>
    <a href="#" onclick="alert('link not implemented'); return false" class="action red">Learn more</a>
  </div>
  <div class="inline-video">
    <a href="http://www.youtube.com/embed/hVkNlXGQPZc" title="How to Change the Air Filter on a Troy-Bilt Edger">
      <img src="http://i2.ytimg.com/vi/u-GPY4guh0w/hqdefault.jpg">
      <span class="video-overlay">&nbsp;</span>
    </a>
  </div>
  <div class="product-features">
    <h2>Neighborhood Rider Features</h2>
    <ul>
      <li>
        <strong>30" cutting deck</strong><br />
        Cut a much wider path than traditional walk-behind mowers with the wide 30" cutting deck.
      </li>
      <li>
        <strong>11.5 Gross HP* Briggs &amp; Stratton&reg; PowerBuilt&trade; OHV engine</strong><br />
        Get the reliable power and starting you need Saturday after Saturday, with this Briggs &amp; Stratton engine. <a href="#" onclick="alert('link not yet implemented'); return false;">Learn more about the Briggs &amp; Stratton engine</a>
      </li>
      <li>
        <strong>Telescoping steering column</strong><br />
        Easily adjust the steering column to the perfect height, so you can mow in comfort.
      </li>
      <li>
        <strong>Breathable, swiveling mesh seat</strong><br />
        Mow without getting too warm, even on the hottest summer days, thanks to the mesh seat. It also swivels to make getting on and off easier.
      </li>
      <li>
        <strong>Compact size</strong><br />
        Storage is no longer a problem with the Neighborhood Rider's compact size. It fits in the same amount of space as a walk-behind mower and maneuvers easily around obstacles.
      </li>
    </ul>
  </div>
  <div class="where-to-buy">
    <h2>Where to Buy</h2>
    <div class="table">
      <div class="row">
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap lowes">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/lowes.png" />
            </span>
          </a>
        </div>
        <div class="cell retailer-logo">
          <a href="#" onclick="alert('link not implemented'); return false">
            <span class="img-wrap">
              <img src="/wcpics/TroyBiltMobile/en_US/images/content/logo-auth.png" class="authorized" />
            </span>
          </a>
        </div>
      </div>
    </div>
    <p>
      Models and pricing may vary per store. Check with your local Lowe’s store for availability and pricing.
    </p>
  </div>
</div>

