<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Troy-Bilt Mobile</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/wcpics/TroyBiltMobile/en_US/images/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/wcpics/TroyBiltMobile/en_US/images/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/wcpics/TroyBiltMobile/en_US/images/apple-touch-icon-precomposed.png">	
	<link rel="shortcut icon" href="/wcpics/TroyBiltMobile/en_US/images/apple-touch-icon.png" />
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="/wcsstore/TroyBiltMobile/css/style.css?03282013">
	<script>
/* Fix for Android 2.1 reporting false positive support for font-face */
if (navigator.userAgent.indexOf('Android 2.1') > 0) { document.documentElement.className += ' no-fontface'; }

/* Modernizr 2.5.3 (Custom Build) | MIT & BSD
 * Build: http://www.modernizr.com/download/#-fontface-cssanimations-generatedcontent-csstransforms-csstransforms3d-csstransitions-history-indexeddb-localstorage-geolocation-touch-cssclasses-teststyles-testprop-testallprops-prefixes-domprefixes
 */
;window.Modernizr=function(a,b,c){function A(a){j.cssText=a}function B(a,b){return A(n.join(a+";")+(b||""))}function C(a,b){return typeof a===b}function D(a,b){return!!~(""+a).indexOf(b)}function E(a,b){for(var d in a)if(j[a[d]]!==c)return b=="pfx"?a[d]:!0;return!1}function F(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:C(f,"function")?f.bind(d||b):f}return!1}function G(a,b,c){var d=a.charAt(0).toUpperCase()+a.substr(1),e=(a+" "+p.join(d+" ")+d).split(" ");return C(b,"string")||C(b,"undefined")?E(e,b):(e=(a+" "+q.join(d+" ")+d).split(" "),F(e,b,c))}var d="2.5.3",e={},f=!0,g=b.documentElement,h="modernizr",i=b.createElement(h),j=i.style,k,l=":)",m={}.toString,n=" -webkit- -moz- -o- -ms- ".split(" "),o="Webkit Moz O ms",p=o.split(" "),q=o.toLowerCase().split(" "),r={},s={},t={},u=[],v=u.slice,w,x=function(a,c,d,e){var f,i,j,k=b.createElement("div"),l=b.body,m=l?l:b.createElement("body");if(parseInt(d,10))while(d--)j=b.createElement("div"),j.id=e?e[d]:h+(d+1),k.appendChild(j);return f=["&#173;","<style>",a,"</style>"].join(""),k.id=h,m.innerHTML+=f,m.appendChild(k),l||(m.style.background="",g.appendChild(m)),i=c(k,a),l?k.parentNode.removeChild(k):m.parentNode.removeChild(m),!!i},y={}.hasOwnProperty,z;!C(y,"undefined")&&!C(y.call,"undefined")?z=function(a,b){return y.call(a,b)}:z=function(a,b){return b in a&&C(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=v.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(v.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(v.call(arguments)))};return e});var H=function(c,d){var f=c.join(""),g=d.length;x(f,function(c,d){var f=b.styleSheets[b.styleSheets.length-1],h=f?f.cssRules&&f.cssRules[0]?f.cssRules[0].cssText:f.cssText||"":"",i=c.childNodes,j={};while(g--)j[i[g].id]=i[g];e.touch="ontouchstart"in a||a.DocumentTouch&&b instanceof DocumentTouch||(j.touch&&j.touch.offsetTop)===9,e.csstransforms3d=(j.csstransforms3d&&j.csstransforms3d.offsetLeft)===9&&j.csstransforms3d.offsetHeight===3,e.generatedcontent=(j.generatedcontent&&j.generatedcontent.offsetHeight)>=1,e.fontface=/src/i.test(h)&&h.indexOf(d.split(" ")[0])===0},g,d)}(['@font-face {font-family:"font";src:url("https://")}',["@media (",n.join("touch-enabled),("),h,")","{#touch{top:9px;position:absolute}}"].join(""),["@media (",n.join("transform-3d),("),h,")","{#csstransforms3d{left:9px;position:absolute;height:3px;}}"].join(""),['#generatedcontent:after{content:"',l,'";visibility:hidden}'].join("")],["fontface","touch","csstransforms3d","generatedcontent"]);r.touch=function(){return e.touch},r.geolocation=function(){return!!navigator.geolocation},r.indexedDB=function(){return!!G("indexedDB",a)},r.history=function(){return!!a.history&&!!history.pushState},r.cssanimations=function(){return G("animationName")},r.csstransforms=function(){return!!G("transform")},r.csstransforms3d=function(){var a=!!G("perspective");return a&&"webkitPerspective"in g.style&&(a=e.csstransforms3d),a},r.csstransitions=function(){return G("transition")},r.fontface=function(){return e.fontface},r.generatedcontent=function(){return e.generatedcontent},r.localstorage=function(){try{return localStorage.setItem(h,h),localStorage.removeItem(h),!0}catch(a){return!1}};for(var I in r)z(r,I)&&(w=I.toLowerCase(),e[w]=r[I](),u.push((e[w]?"":"no-")+w));return A(""),i=k=null,e._version=d,e._prefixes=n,e._domPrefixes=q,e._cssomPrefixes=p,e.testProp=function(a){return E([a])},e.testAllProps=G,e.testStyles=x,g.className=g.className.replace(/(^|\s)no-js(\s|$)/,"$1$2")+(f?" js "+u.join(" "):""),e}(this,this.document);
	</script>
</head>
<body class="<%=@page%>">
<div id="container">
	<header>
		<div id="header-wrap" class="table">
			<div class="row">
				<div class="cell">
					<a href="/" id="logo">Troy-Bilt</a>
				</div>
				<div class="cell cart-menu">
					<nav>
						<ul>
							<% if @cart_items != 0 %>
							<li class="col"><a href="/cart" id="cart" class="btn"><span id="cart-icon" class="pictos"></span><span id="cart-items"><%=@cart_items%></span></a></li>
							<% else %>
							<li class="col"><a href="/cart" id="cart" class="btn empty"><span id="cart-icon" class="pictos"></span></a></li> 					
							<% end %>
							<% if (@page != 'home') %>
							<li class="col"><a href="#pri-nav" id="menu" class="btn">Menu</a></li>
							<% end %>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div id="search-wrap">
		<form id="search" method="get" action="/search">
			<input type="text" name="q" placeholder="Search by Product Name, Part # or Model #" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<%= yield %>
	<footer>
		<!-- ONLY SHOW WHEN NOT ON HOMEPAGE -->
		<% if (@page != 'home') %>
		<nav id="pri-nav">
			<ul>
				<li><a href="/" title="Home">Home <span class="arrow-r pictos icon-arrow"></span></a></li>
				<li><a href="/products" title="Browse Products">Browse Products <span class="arrow-r pictos icon-arrow"></span></a></li>
				<li><a href="/owners/find-parts" title="Find Parts">Find Parts <span class="arrow-r pictos icon-arrow"></span></a></li>
				<li><a href="/owners" title="Owner's Center">Owner's Center <span class="arrow-r pictos icon-arrow"></span></a></li>
				<li><a href="/videos" title="Watch Videos">Watch Videos <span class="arrow-r pictos icon-arrow"></span></a></li>
			</ul>
		</nav>
		<% end %>
		<nav id="sec-nav">
			<ul class="group">
				<li class="col"><a href="/contact-us" title="Contact Us">Contact Us</a></li>
				<li class="col mid"><a href="/stores" title="Find a Store">Find a Store</a></li>
				<li class="col"><a href="/orders/list" title="Order Tracking">Order Tracking</a></li>
				<% if request.cookies["logged-in"] == 'true' %>
				<li class="col"><a href="/logout" title="Sign Out">Sign Out</a></li>
				<% else %>
				<li class="col"><a href="/sign-in" title="Sign In">Sign In</a></li>
				<% end %>
				<li class="col mid"><a href="#" title="View Full Site">View Full Site</a></li>
				<li class="col"><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
			</ul>
		</nav>
    <div class="social">
    	<span>Connect with Us:</span>
      <ul class="group">
        <li><a href="https://www.facebook.com/troybilt" title="Troy-Bilt on Facebook" class="facebook">Facebook</a></li>
        <li><a href="http://www.youtube.com/user/troybiltllc" title="Troy-Bilt on YouTube" class="youtube">YouTube</a></li>
        <li><a href="http://www.twitter.com/Troy_Bilt" title="Troy-Bilt on Twitter" class="twitter">Twitter</a></li>
        <li><a href="http://instagram.com/troybilt" title="Troy-Bilt on Instagram" class="instagram">Instagram</a></li>
        <li class="last"><a href="#{need_URL}" title="Troy-Bilt on Pinterest" class="pinterest">Pinterest</a></li>
      </ul>
    </div>
	</footer>
</div>
<%= yield_content :footer_js %>
<% if (@swipe_js == 'yes') %>
<!-- Only output JS lib below for homepage -->
	<%=erb :inline_swipe_js %>
<% end %>
<% if (@page == 'home') %>
<!-- Only output JS snip below for homepage -->
<script>
if ( Modernizr.csstransforms ) {
	var swipe = new Swipe(document.getElementById('slider'), {
		callback: function(e, pos) {
			var i = bullets.length;
			while (i--) {
				bullets[i].className = '';
			}
			bullets[pos].className = 'on';
		},
		auto: 5000
	}),
	bullets = document.getElementById('slider-pos').getElementsByTagName('em');
}
</script>
<% end %>	
<% if (@zepto_js == 'yes') %>
<script>
document.write('<script src=' +
('__proto__' in {} ? '/wcsstore/TroyBiltMobile/javascript/libs/zepto.min' : '/wcsstore/TroyBiltMobile/javascript/libs/jquery-1.7.2.min') +
'.js><\/script>')
</script>
<% end %>
<% if (@troy_js == 'yes') %>
	<%=erb :inline_troy_js %>
<% end %>

<script>
/*! A fix for the iOS orientationchange zoom bug. Script by @scottjehl, rebound by @wilto.MIT License.*/(function(m){if(!(/iPhone|iPad|iPod/.test(navigator.platform)&&navigator.userAgent.indexOf("AppleWebKit")>-1)){return}var l=m.document;if(!l.querySelector){return}var n=l.querySelector("meta[name=viewport]"),a=n&&n.getAttribute("content"),k=a+",maximum-scale=1",d=a+",maximum-scale=10",g=true,j,i,h,c;if(!n){return}function f(){n.setAttribute("content",d);g=true}function b(){n.setAttribute("content",k);g=false}function e(o){c=o.accelerationIncludingGravity;j=Math.abs(c.x);i=Math.abs(c.y);h=Math.abs(c.z);if(!m.orientation&&(j>7||((h>6&&i<8||h<8&&i>6)&&j>5))){if(g){b()}}else{if(!g){f()}}}m.addEventListener("orientationchange",f,false);m.addEventListener("devicemotion",e,false)})(this);

/*! Normalized address bar hiding for iOS & Android (c) @scottjehl MIT License */
(function(win){var doc=win.document;if(!location.hash&&win.addEventListener){window.scrollTo(0,1);var scrollTop=1,getScrollTop=function(){return win.pageYOffset||doc.compatMode==="CSS1Compat"&&doc.documentElement.scrollTop||doc.body.scrollTop||0},bodycheck=setInterval(function(){if(doc.body){clearInterval(bodycheck);scrollTop=getScrollTop();win.scrollTo(0,scrollTop===1?0:1)}},15);win.addEventListener("load",function(){setTimeout(function(){if(getScrollTop()<20){win.scrollTo(0,scrollTop===1?0:1)}},0)})}})(this);
</script>
</body>
</html>		