<nav class="bread">
	<a href="/orders/tracking" title="Order Tracking">Order Tracking</a> / <a href="/orders/tracking" title="Order Tracking"><strong>View Order Details</strong></a>
</nav>
<div id="main" role="main" class="main-content view-order-details">
	<div class="table">
		<div class="row">	
			<div class="cell">
				<h1>Order #<%= @active_order[:id] %> on <%= Time.parse(@active_order[:date]).strftime('%m/%d/%y') %></h1>
			</div>
			<div class="price-status cell">
				<p>
					$<%= @active_order[:total] %><br />
					Status: <%= @active_order[:status] %>
				</p>
			</div>
		</div>
	</div>
	<div class="shipping-information">
		<h2>Shipping Information</h2>
		<p>
			Jake Bazaar<br />
			1348 Iconic Lane<br />
			Cleveland. OH 44105<br />
			(777)444-5577<br />
			jake@bazaar.com
		</p>
	</div>
	<div class="billing-information">
		<h2>Billing Information</h2>
		<p>
			Jake Bazaar<br />
			1348 Iconic Lane<br />
			Cleveland. OH 44105<br />
			(777)444-5577<br />
			jake@bazaar.com
		</p>
	</div>
	<ul class="order-items">	
		<li>
			<div class="row">
				<div class="photo cell">
					<a href="/products/detail" title="Product Name">
						<img src="/wcpics/TroyBiltMobile/en_US/images/content/prod-list-2.png" alt="Product Name" />
					</a>
				</div>
				<div class="data cell">
					<a href="/products/detail" title="TB R16 16&quot; Walk-Behind Reel Mower" class="title">TB R16&quot; Walk-Behind Reel Mower</a>
					<span class="item-num">Item Number: 145679</span>
					<span class="item-qty">Quantity: 1</span>
					<span class="item-status">Status: Delivered</span>
				</div>
				<div class="pricing cell">
					<span class="price-one"><del><strong>$109.99</strong></del></span><br />
					<span class="price-two"><strong>$99.99</strong></span>
				</div>	
			</div>
		</li>
		<li>
			<div class="row">
				<div class="photo cell">
					<a href="/products/detail" title="Product Name">
						<img src="/wcpics/TroyBiltMobile/en_US/images/content/prod-list-4.png" alt="Product Name" />
					</a>
				</div>
				<div class="data cell">
					<a href="/products/detail" title="TB110 TriAction&reg; 21&quot; Walk-Behind Push Mower" class="title">TB110 TriAction&reg; 21&quot; Walk-Behind Push Mower</a>
					<span class="item-num">Item Number: 145679</span>
					<span class="item-qty">Quantity: 1</span>
					<span class="item-status">Status: Delivered</span>
				</div>
				<div class="pricing cell">
					<span class="price-one"><del><strong>$199.99</strong></del></span><br />
					<span class="price-two"><strong>$179.99</strong></span>
				</div>	
			</div>
		</li>	
	</ul>	
	<div class="totals">
		<div class="totals-wrapper table">
			<div class="row">
				<div class="cell caption">Item Total:</div>
				<div class="cell value">$309.98</div>
			</div>
			<div class="row">
				<div class="cell caption">Savings:</div>
				<div class="cell value">-$30.00</div>
			</div>	
			<div class="row">
				<div class="cell caption">Shipping:</div>
				<div class="cell value">$12.00</div>
			</div>
			<div class="row pre-subtotal">
				<div class="cell caption">Tax:</div>
				<div class="cell value">$0.00</div>
			</div>
			<div class="row subtotal">
				<div class="cell caption"><strong>Total:</strong></div>
				<div class="cell value"><strong>$321.98</strong></div>
			</div>
		</div>
	</div>	
</div>