<nav class="bread">
	<a href="/orders/list" title="Order Tracking"><strong>Order Tracking</strong></a>
</nav>
<div id="main" role="main" class="main-content form-page">
	<h1>Order Status</h1>
	<!-- Server Side Errors, use html below.
	<ul class="form-errors">
		<li>The order number entered is invalid.</li>
		<li>Please enter your billing last name.</li>
		<li>Please enter your billing Zip Code.</li>
	</ul>
	-->
	<p>
		Please enter your order number, billing last name and billing Zip code to find your order status.
	</p>
	<form action="/orders/details" method="get" class="form-order-tracking validate" name="form_order_status">
		<div class="form-unit">
			<div class="form-input">
				<label for="billing-order-number">Order Number:</label><br />
				<input type="text" id="billing-order-number" name="order_number" required data-valid="error-billing-order-number">
			</div>
			<span class="error-field hide" id="error-billing-order-number">Order Number is a required field</span>
		</div>
		<div class="form-unit">
			<div class="form-input">
				<label for="billing-last-name">Billing Last Name:</label><br />
				<input type="text" id="billing-last-name" name="last_name" required data-valid="error-billing-last-name">
			</div>
			<span class="error-field hide" id="error-billing-last-name">Billing Last Name is a required field</span>
		</div>
		<div class="form-unit">
			<div class="form-input">
				<label for="billing-zip-code">Billing Zip Code:</label><br />
				<input type="tel" id="billing-zip-code" name="zip_code" required data-valid="error-billing-zip-code" pattern="[\d]{5}" maxlength="5">
			</div>
			<span class="error-field hide" id="error-billing-zip-code">Billing Zip Code is a required field</span>
		</div>
		<p>
			<button type="submit" class="action red check-status">Check Status</button>
		</p>
	</form>
</div>