<nav class="bread">
	<a href="/orders/tracking" title="Order Tracking"><strong>Order Tracking</strong></a>
</nav>
<div id="main" role="main" class="main-content">
	<h1>My Orders</h1>
	<% @order_numbers.each do |o| %>
	<form action="/orders/tracking" method="get" class="form-order-tracking validate list-view" name="form_track_order">
		<div class="table">
			<div class="row">	
				<div class="order-details-status cell">
					<h2>Order #<%= o[:id] %> on <%= Time.parse(o[:date]).strftime('%m/%d/%y') %></h2>
					<p>
						Shipped to:<br />
						Jake Bazaar<br />
						1348 Iconic Lane<br />
						Cleveland. OH 44105
					</p>
				</div>
				<div class="price-status cell">
					<p>
						$<%= o[:total] %><br />
						Status: <%= o[:status] %>
					</p>
				</div>
			</div>
		</div>
		<p>
			<a href="/orders/view-details?order_number=<%= o[:id] %>" type="submit" class="action red view-order-details">View Order Details</a>
			<input type="hidden" value="<%= o[:id] %>" name="order_number">
			<button type="submit" class="action red track-order">Track Order</button> 
		</p>
	</form>
	<% end %>
</div>