<nav class="bread">
	<a href="/owners" title="Owner's Center">Owner's Center</a>  / <a href="/owners/service-locator" title="Service Locator"><strong>Service Locator</strong></a>
</nav>
<div id="main" role="main" class="find-store">
	<h1>Service Locator Results</h1>
	<p>
		Please check with your retailer for specific availability.
	</p>
	<% if @lat != '' && @lon != '' %>
	<p>
		<strong>Locations near my current location within <%=@radius%> miles.</strong>
	</p>
	<% else %>
	<p>
		<strong>Locations near <%=@zip%> within <%=@radius%> miles.</strong>
	</p>
	<% end %>
	<p>
		<a href="/owners/service-locator" class="action grey search-again">Search Again</a>
	</p>
	<ul class="store-list">
		<% @service_providers.each do |s|  %>
		<li>
			<p>
				<strong><%= s[:name] %></strong>
				<%= s[:address] %><br />
				<%= s[:city] %>, <%= s[:state] %> <%= s[:zip] %><br />
				Phone: <%= s[:phone] %><br />
				<span class="distance">Distance: 22</span><br />
				<a class="action red map-it" href="/owners/service-locator/map/<%= s[:id] %>">Map It</a>
			</p>
		</li>
		<% end %>
	</ul>
</div>