<nav class="bread">
	<a href="/owners" title="Owner's Center">Owner's Center</a> / <a href="/owners/find-parts" title="Find Parts"><strong>Find Parts</strong></a>
</nav>
<div id="main" class="main-content find-parts-results" role="main">
	<h1><%= @part_number %></h1>
	<img src="/wcpics/TroyBiltMobile/en_US/images/content/placeholder.png" alt="Placeholder" class="placeholder" height="200px" />
	<form action="#" method="post">
		<div class="table">
			<div class="row">
				<div class="cell price">
					<span class="old-price">$15.99</span>
					<span class="current-price">Sale: <strong>$9.67</strong></span>
				</div>
				<div class="cell qty">
					<select name="quantity">
						<% 20.times do |i| %>
						<option value="<%= i + 1 %>"><%= i + 1 %></option>
						<% end %>
					</select><br />
					<span class="backorder">Back Order: 12/31/13</span>
				</div>		
			</div>
		</div>
		<div class="submit">
			<button type="submit" class="action red">Add to Cart</button>
		</div>
	</form>	
</div>