<nav class="bread">
	<a href="/owners" title="Owner's Center">Owner's Center</a>  / <a href="/owners/service-locator" title="Service Locator"><strong>Service Locator</strong></a>  / <a href="/owners/service-locator/map/<%= params[:id] %>" title="Map It"><strong>Map It</strong></a>
</nav>
<div id="main" role="main" class="main-content form-page">
	<h1>Map It</h1>
	<p>
		Models may vary per store location. Please check with your retailer for specific availability.
	</p>
	<div class="map-result">
		<h2><%= @service_provider[:name] %></h2>
		<p>
			<%= @service_provider[:address] %><br />
			<%= @service_provider[:city] %>, <%= @service_provider[:state] %> <%= @service_provider[:zip] %><br />
			<%= @service_provider[:phone] %>
		</p>
	</div>
	<form action="DealerMapping" method="get" class="form-store-find form-map-it validate">
		<input type="hidden" name="storeId" value="<%= @service_provider[:id] %>" />
		<input type="hidden" name="catalogId" value="14102" />
		<input type="hidden" name="map" value="false" />
		<input type="hidden" name="transaction" value="route" />
		<input type="hidden" name="template" value="route" />
		<input type="hidden" name="routeMaps" value="3" />
		<input type="hidden" name="pWidth" value="120" />
		<input type="hidden" name="pHeight" value="120" />
		<input type="hidden" name="destname" value="<%= @service_provider[:name] %>" />
		<input type="hidden" name="destaddress" value="<%= @service_provider[:address] %>" />
		<input type="hidden" name="destcity" value="<%= @service_provider[:city] %>" />
		<input type="hidden" name="deststateprovince" value="<%= @service_provider[:state] %>" />
		<input type="hidden" name="destpostalcode" value="<%= @service_provider[:zip] %>" />
		<input type="hidden" name="latitude" value="<%= params[:latitude] %>" />
		<input type="hidden" name="longitude" value="<%= params[:longitude] %>" />
		<input type="hidden" name="origlatitude" id="latitude" value="" />
		<input type="hidden" name="origlongitude" id="longitude" value="" />
		<p>
			Enter your address below for Door-to-Door directions:
		</p>
		<p class="geolocate"><a href="#" class="action grey location"><i class="icon-location pictos"></i> Use my current location</a></p>
		<div id="orig-location-fields">
			<p class="geolocate"><strong>OR</strong></p>
			<div class="form-unit">
				<div class="form-input">
					<label for="origaddress">Address:</label>
					<input type="text" id="origaddress" name="origaddress" size="23" required data-valid="error-origaddress">
				</div>
				<span class="error-field hide" id="error-origaddress">Address is a required field</span>
			</div>	
			<div class="form-unit">
				<div class="form-input">
					<label for="origcity">City:</label>
					<input type="text" id="origcity" name="origcity" required data-valid="error-origcity">
				</div>
				<span class="error-field hide" id="error-origcity">City is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="origstateprovince">State:</label>
					<select name="origstateprovince" id="origstateprovince" required data-valid="error-origstateprovince">
						<option value="">--select--</option>
						<option value="AL">Alabama</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>	
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>	
						<option value="NC">North Carolina</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>		
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>		
						<option value="OR">Oregon</option>	
						<option value="PA">Pennsylvania</option>	
						<option value="RI">Rhode Island</option>		
						<option value="SC">South Carolina</option>	
						<option value="SD">South Dakota</option>	
						<option value="TN">Tennessee</option>	
						<option value="TX">Texas</option>	
						<option value="UT">Utah</option>	
						<option value="VT">Vermont</option>	
						<option value="VA">Virginia</option>	
						<option value="WA">Washington</option>
						<option value="DC">Washington DC</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>
				<span class="error-field hide" id="error-origstateprovince">State is a required field</span>
			</div>
		</div>
		<p>
			<button type="submit" class="action red">Get Directions</button>
		</p>
		<div>
			<iframe frameborder="0" marginheight="0" marginwidth="0"  scrolling="no" src="/webapp/wcs/stores/servlet/DealerMapping?map=true&amp;transaction=locMap&amp;template=map&amp;pwidth=210&amp;pheight=210&amp;name=T &amp; S MOWER SERVICE, INC.&amp;address=25438 SPRAGUE ROAD &amp;city=OLMSTED FALLS&amp;stateprovince=OH&amp;postalcode=44138" width="300" height="300"></iframe>
		</div>
	</form>

</div>