<nav class="bread">
	<a href="/owners" title="Owner's Center"><strong>Owner's Center</strong></a>
</nav>
<div id="main" role="main">
	<nav class="drill-down">
		<ul class="expandable">
			<li<%=@category == 'register' ? ' class="expanded"' : ' class="collapsed"'%>><a href="/owners/register" title="Register Your Product" class="expand">Register Your Product <span class="plus-r pictos<%=(@category == 'register' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'register') %>
				<div class="form-block">
					<form action="#" method="post" class="validate">
						<a href="#warranty-rights" class="show-hide right">Warranty Rights</a>
						<h2>Product Registration</h2>
						<p class="form-instructions">
							*Indicates Required Field.
						</p>
						<div id="warranty-rights" class="hide">
							<p>
								Failure to complete and return this registration does not diminish your Warranty rights.
							</p>
							<p>
								This information will be used for market research purposes and to help Troy-Bilt deliver products to better serve our customers.
							</p>
							<p>
								Because we value your privacy, Troy-Bilt will not provide customers specific personal information to third parties without customer consent, and will treat such information as confidential.
							</p>
							<p>
								Troy-Bilt may disclose information to third party for analysis and marketing purposes, but only after the information has been aggregated so as to prevent identification of personal information relating to a particular customer.
							</p>
						</div>	
						<div class="form-unit">
							<label for="firstname">*First Name:</label>
							<input type="text" name="firstname" id="firstname" required class="js-copy" data-paste="owner_firstname" data-valid="error-firstname" value="">
							<span class="error-field hide" id="error-firstname">First Name is a required field</span>
						</div>
						<div class="form-unit">
							<label for="lastname">*Last Name:</label>
							<input type="text" name="lastname" id="lastname" required class="js-copy" data-paste="owner_lastname" data-valid="error-lastname" value="">
							<span class="error-field hide" id="error-lastname">Last Name is a required field</span>
						</div>
						<div class="form-unit">
							<label for="address">*Street Address:</label>
							<input type="text" name="address" id="address" required class="js-copy related" data-paste="owner_address" data-valid="error-address" value="">
							<input type="text" name="address2" class="js-copy" data-paste="owner_address2" value="">
							<span class="error-field hide" id="error-address">Address is a required field</span>
						</div>
						<div class="form-unit">
							<label for="city">*City:</label>
							<input type="text" name="city" id="city" required class="js-copy" data-paste="owner_city" data-valid="error-city" value="">
							<span class="error-field hide" id="error-city">City is a required field</span>
						</div>
						<div class="form-unit">
							<label for="state" class="label-select">*State:</label>
							<select name="state" id="state" required class="js-copy" data-paste="owner_state" data-valid="error-state">
								<option value="">Select</option>
								<option value="AL">Alabama</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DC">DC</option>
								<option value="DE">Delaware</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>

							<span class="error-field hide" id="error-state">State is a required field</span>
						</div>				

						<div class="form-unit">
							<label for="zipcode">*Zip Code:</label>						
							<input type="tel" name="zipcode" id="zipcode" required class="js-copy" data-paste="owner_zipcode" data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">							
							<span class="error-field hide" id="error-zipcode">Zip Code is a required field</span>
						</div>
						<div class="form-unit">
							<label for="owner-phone-complete">Phone:</label>
							<div class="phone-fields">				
								<input type="tel" name="phone" class="js-copy field-phone field1" data-paste="owner_phone" maxlength="3">					
								<input type="tel" name="phone2" id="test" class="js-copy field-phone field2" data-paste="owner_phone2" maxlength="3">					
								<input type="tel" name="phone3" class="js-copy field-phone field3" data-paste="owner_phone3" maxlength="4">	
								<input type="tel" name="owner_phone_complete" class="hide hidden-phone" data-valid="error-owner-phone-complete" id="owner-phone-complete" pattern="[\d]{10}">
								<span class="error-field hide" id="error-owner-phone-complete">Phone is a required field</span>
							</div>
						</div>
						<div class="form-unit">
							<label for="email">Email address:</label>	
							<input type="email" name="email" id="email" class="js-copy" data-valid="error-email" data-paste="owner_email" value="">
							<span class="error-field hide" id="error-email"></span>
						</div>
						<div class="form-unit">
							<div class="form-checkbox">
								<input type="checkbox" name="shipping_policy" id="shipping-policy" value="1" class="block-check">			
								<label class="block-label">Yes! I would like to receive periodic communication from Troy-Bilt on services, products and special offers that may be of interest to me. I understand that my personal information will not be shared with any third parties.</label>
							</div>
						</div>
						<div class="form-unit">
							<label>Date Purchased:</label>	
							<select name="purchase_month" id="purchase-month" class="js-copy month" data-paste="owner_purchase_month">
								<option value="">Month</option>
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
								<option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
								<option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select>
							<select name="purchase_month" id="purchase-month" class="js-copy day" data-paste="owner_purchase_month">
								<option value="">Day</option>
								<% 31.times do |i| %>
								<option value="<%= i + 1 %>"><%= i + 1 %></option>
								<% end %>
							</select>			
							<select name="purchase_year" id="purchase-year" class="js-copy year" data-paste="owner_purchase_year">
								<option value="">Year</option>
								<% 40.times do |i| %>
								<option value="<%= Time.new.year - i %>"><%= Time.new.year - i %></option>
								<% end %>
							</select>
						</div>
						<div class="form-unit">
							<label for="model-number">*Model Number:</label>
							<input type="text" name="model_number" id="model-number" required class="js-copy" data-paste="owner_model_number" data-valid="error-model-number" value="">
							<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
						</div>
						<div class="form-unit">
							<label for="serial-number">Serial Number:</label>
							<input type="text" name="serial_number" id="serial-number" class="js-copy" data-paste="owner_serial_number" value="">
						</div>
						<p>
							<img src="/wcpics/TroyBiltMobile/en_US/images/serial-number.jpg" alt="Serial Number Pic" />
						</p>
						<div class="form-unit">
							<label class="label-select">*Name of Store where Purchased:</label> 
							<select name="purchase_store" id="purchase-store" class="js-copy month" required class="js-copy" data-paste="owner_purchase_store" data-valid="error-purchase-store">
								<option value="">select</option>
								<option value="Lowe's">Lowe's</option>
								<option value="Home Depot">Home Depot</option>
							</select>	
							<span class="error-field hide" id="error-purchase-store">Name of Store where Purchased is a required field</span>
						</div>	
						<p>	
							<button class="action red large" type="submit">Register Product</button>
						</p>
						<p class="user-errors hide">It appears you have some missing required fields or invalid information. Please review your information for errors.</p>
					</form>	
				</div>	
				<% end %>	
			</li>
			<li<%=@category == 'manuals' ? ' class="expanded"' : ' class="collapsed"'%>><a href="/owners/manuals" title="Operator's Manuals" class="expand">Operator's Manuals <span class="plus-r pictos<%=(@category == 'manuals' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'manuals') %>
					<div class="form-block">
						<form action="/owners/manuals/results" method="post" class="validate">
							<p>
								Disclaimer: Not all manuals will be available for all products.
							</p>
							<h2>Know your model #?</h2>
							<div class="form-unit">
								<label for="model-number">*Model Number:</label>
								<input type="text" name="model_number" id="model-number" required class="js-copy" data-paste="manual_model_number" data-valid="error-model-number" value="">
								<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
							</div>
							<div class="form-unit">
								<label for="serial-number">Serial Number:</label>
								<input type="text" name="serial_number" id="serial-number" class="js-copy" data-paste="manual_serial_number" value="">
							</div>
							<p>
								<button class="action red" type="submit">Get Manual</button>
							</p>
						</form>
						<h2>Don’t know your model #?</h2>
						<p>
							<img src="/wcpics/TroyBiltMobile/en_US/images/serial-number.jpg" alt="Serial Number Pic" />
						</p>
						<p>
							<a href="/locate-model" class="action grey locate-model">Locate Your Model #</a>
						</p>						
						<p>
							<strong>Business Hours:</strong><br />
							Mon - Fri 8am-6pm EST<br />
							Sat 9am-5pm EST
						</p>
						<a href="tel:1-800-828-5500" rel="nofollow" class="action large grey call-help"><i class="icon-phone pictos"></i> Need Help? Call 1-800-828-5500</a>
					</div>	
				<% end %>
			</li>
			<li<%=@category == 'find-parts' ? ' class="expanded"' : ' class="collapsed"'%>><a href="/owners/find-parts" title="Find Parts" class="expand">Find Parts <span class="plus-r pictos<%=(@category == 'find-parts' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'find-parts') %>
					<div class="form-block part-finder">
						<form action="/owners/find-parts/results" method="post" class="validate part-finder">
							<div class="form-unit">
								<h2>Know the part number?</h2>
								<input type="text" name="part_number" id="part-number" required class="js-copy" placeholder="Enter Part #" data-paste="part_part_number" data-valid="error-part-number" value=""> 
								<button class="action red" type="submit">GO</button>
								<span class="error-field hide" id="error-part-number">Part Number is a required field</span>
							</div>
							<h3>Need Help Ordering Parts?</h3>
							<a href="tel:1-800-828-5500" rel="nofollow" class="action large grey call"><i class="icon-phone pictos"></i> Call 1-800-828-5500</a>
							<p>
								Mon - Fri 8am-6pm EST<br />
								Sat 9am-5pm EST<br />
								Closed Sundays
							</p>
							<!-- 
							Commented out: 6/4/2012
							Won't be used in initial rollout, saving for later
							<div class="form-unit">
								<h2>Find Parts By Model</h2>
								<a href="#" class="action red find-model-number">FIND MODEL NUMBER</a>
							</div>	 -->
						</form>
					</div>
				<% end %>
			</li>
			<li<%=@category == 'service-locator' ? ' class="expanded"' : ' class="collapsed"'%>><a href="/owners/service-locator" title="Service Locator" class="expand">Service Locator <span class="plus-r pictos<%=(@category == 'service-locator' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'service-locator') %>
					<div class="form-block">
						<form action="/owners/service-locator/results" method="get" class="validate form-service-find" name="form_store_find" id="form-store-find">
							<input type="hidden" name="latitude" id="latitude" value="">
							<input type="hidden" name="longitude" id="longitude" value="">
							<p class="field-caption">
								Find a qualified service provider in your area.
							</p>
							<div class="form-unit ">
								<div class="form-input">
									<label for="radius">Within:</label> 
									<select name="radius" id="radius">
										<option value="10">0 to 10 Miles</option>												
										<option value="25">0 to 25 Miles</option>												
										<option value="50">0 to 50 Miles</option>												
										<option value="100">0 to 100 Miles</option>												
										<option value="300">0 to 300 Miles</option>																		
									</select>
								</div>
							</div>
							<fieldset class="grey">
								<div class="form-unit">
									<div class="form-checkbox-location">
										<div class="form-input">
											<input type="checkbox" name="location" class="geolocate" id="location" value="1" /> 
											<label class="block-label">Use My Current Location <span class="loader hide"><img src="/wcpics/TroyBiltMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
										</div>
									</div>
								</div>
								<p class="geolocate locate-by-zip-wrapper"><strong>OR</strong></p>
								<div class="form-unit locate-by-zip-wrapper">
									<div class="form-input">
										<label for="zip">Zip Code:</label>
										<input type="tel" id="zip" name="zip" required data-valid="error-zip-code" pattern="[\d]{5}" maxlength="5">
									</div>
									<span class="error-field hide" id="error-zip-code">Zip Code is a required field</span>
								</div>
							</fieldset>
							<p><button type="submit" class="action large red">Find Service Center</button></p>
						</form>
					</div>
				<% end %>
			</li>
		</ul>
	</nav>		
	<div class="espot">
		<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
	</div>
</div>