	<nav class="bread">
		<a href="/products" title="Browse Products">Products</a> / <a href="/products/<%=@category%>" title="<%=@category_title%>"><strong><%=@category_title%></strong></a>
	</nav>
	<div id="main" role="main">
		<nav class="drill-down">
			<ul class="expandable">
				<li<%=(@category == 'lawn-care') ? ' class="active expanded"': '' %>><a href="/products/lawn-care" title="Lawn Care"<%=(@category == 'lawn-care') ? ' class="collapse-only"': '' %>>Lawn Care <span class="plus-r pictos<%=(@category == 'lawn-care' ? ' icon-circle-minus' : ' icon-circle-plus' )%> "></span></a>
					<% if (@category == 'lawn-care') %>
					<ul class="level-two category-list">
						<li><a href="/products/list" title="Lawn Mowers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/11A-B29Q766_browse_mobile.png);">Lawn Mowers</a></li>
						<li><a href="/products/list" title="String Trimmers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CDT10G966_browse_mobile.png);">String Trimmers</a></li>
						<li><a href="/products/list" title="Trimmer Attachments" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CJGC-C954_browse_mobile.png)">Trimmer Attachments</a></li>
						<li><a href="/products/list" title="Lawn Edgers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/25A-516-966_browse_mobile.png)">Lawn Edgers</a></li>
						<li><a href="/products/list" title="Leaf Blowers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41BA180G966_browse_mobile.png)">Leaf Blowers</a></li>
					</ul>
					<% end %>					
				</li>
				<li<%=(@category == 'gardening') ? ' class="active expanded"': '' %>><a href="/products/gardening" title="Gardening"<%=(@category == 'gardening') ? ' class="collapse-only"': '' %>>Gardening <span class="plus-r pictos<%=(@category == 'gardening' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
					<% if (@category == 'gardening') %>
					<ul class="level-two category-list">
						<li><a href="/products/list" title="Tillers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/11A-B29Q766_browse_mobile.png);">Tillers</a></li>
						<li><a href="/products/list" title="Garden Cultivators" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CDT10G966_browse_mobile.png);">Garden Cultivators</a></li>
						<li><a href="/products/list" title="Garden Tools" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CJGC-C954_browse_mobile.png)">Garden Tools</a></li>
						<li><a href="/products/list" title="Hauling Carts" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/25A-516-966_browse_mobile.png)">Hauling Carts</a></li>
					</ul>
					<% end %>						
				</li>
				<li<%=(@category == 'trees-leaves') ? ' class="active expanded"': '' %>><a href="/products/trees-leaves" title="Trees &amp; Leaves"<%=(@category == 'trees-leaves') ? ' class="collapse-only"': '' %>>Trees &amp; Leaves <span class="plus-r pictos<%=(@category == 'trees-leaves' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
					<% if (@category == 'trees-leaves') %>
					<ul class="level-two category-list">
						<li><a href="/products/list" title="Leaf Blowers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/11A-B29Q766_browse_mobile.png);">Leaf Blowers</a></li>
						<li><a href="/products/list" title="Log Splitters" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CDT10G966_browse_mobile.png);">Log Splitters</a></li>
						<li><a href="/products/list" title="Chainsaws &amp; Polesaws" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41CJGC-C954_browse_mobile.png)">Chainsaws &amp; Polesaws</a></li>
						<li><a href="/products/list" title="Chipper Shredders" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/25A-516-966_browse_mobile.png)">Chipper Shredders</a></li>
						<li><a href="/products/list" title="Chipper Shredder Vacs" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41BA180G966_browse_mobile.png)">Chipper Shredder Vacs</a></li>
						<li><a href="/products/list" title="Hedge Trimmers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/11A-B29Q766_browse_mobile.png);">Hedge Trimmers</a></li>
					</ul>
					<% end %>					
				</li>
				<li<%=(@category == 'snow') ? ' class="active expanded"': '' %>><a href="/products/snow" title="Snow"<%=(@category == 'snow') ? ' class="collapse-only"': '' %>>Snow <span class="plus-r pictos<%=(@category == 'snow' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
					<% if (@category == 'snow') %>
					<ul class="level-two category-list">
						<li><a href="/products/list" title="Snow Throwers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/11A-B29Q766_browse_mobile.png);">Snow Throwers</a></li>
					</ul>
					<% end %>				
				</li>
				<li<%=(@category == 'power-products') ? ' class="active expanded"': '' %>><a href="/products/power-products" title="Power Products"<%=(@category == 'power-products') ? ' class="collapse-only"': '' %>>Power Products <span class="plus-r pictos<%=(@category == 'power-products' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
					<% if (@category == 'power-products') %>
					<ul class="level-two category-list">
						<li><a href="/products/list" title="Pressure Washers" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/25A-516-966_browse_mobile.png)">Pressure Washers</a></li>
						<li><a href="/products/list" title="Generators" style="background-image:url(/wcpics/TroyBiltMobile/en_US/images/content/41BA180G966_browse_mobile.png)">Generators</a></li>
					</ul>
					<% end %>					
				</li>
			</ul>
		</nav>		
		<div class="espot">
			<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
		</div>
	</div>