	<nav class="bread">
		<a href="/products" title="Browse Products"><strong>Products</strong></a>
	</nav>
	<div id="main" role="main">
		<nav class="drill-down">
			<ul>
				<li><a href="/products/lawn-care" title="Lawn Care">Lawn Care <span class="plus-r pictos icon-circle-plus"></span></a></li>
				<li><a href="/products/gardening" title="Gardening">Gardening <span class="plus-r pictos icon-circle-plus"></span></a></li>
				<li><a href="/products/trees-leaves" title="Trees &amp; Leaves">Trees &amp; Leaves <span class="plus-r pictos icon-circle-plus"></span></a></li>
				<li><a href="/products/snow" title="Snow">Snow <span class="plus-r pictos icon-circle-plus"></span></a></li>
				<li><a href="/products/power-products" title="Power Products">Power Products <span class="plus-r pictos icon-circle-plus"></span></a></li>
			</ul>
		</nav>		
		<div class="espot">
			<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
		</div>
	</div>