<div id="main" role="main" class="search-results">
	<h1>Search Results</h1>
	<p>
		Your search results for: <em class="black">"<%= params[:q] %>"</em> resulted in the below.
	</p>
	<nav class="tabs">
		<a href="#products-results" class="active">Products <span class="result-count">(30)</span></a>
		<a href="#videos-articles-results">Videos/Articles <span class="result-count">(10)</span></a>
	</nav>
	<div class="tab-content search-results-tab" id="products-results">	
		<div class="paging">
			<a href="javascript:alert('Link Not Implemented');" title="Prev" class="inactive">Prev</a>
			<span>1 of 2</span>
			<a href="javascript:alert('Link Not Implemented');" title="Next">Next</a>			
		</div>
		<ul class="product-list">
			<li>
				<div class="wrap">
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="Product Name">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/prod-list-1.png" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="TB130 TriAction&reg; High-Wheel Walk-Behind Push Mower" class="title">TB130 TriAction&reg; High-Wheel Walk-Behind Push Mower</a>
							<span class="ratings"><i class="icon-star pictos"><i class="icon-star-over pictos stars"><span class="star-rating">4_3</span></i></i></span>
							<div class="price-buttons">
								<div class="row">
									<div class="cell price">
										<span class="price-one"><del><strong>$239.99</strong></del></span><br />
										<span class="price-two"><strong>$210.00</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="alt">
				<div class="wrap">
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="Product Name">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/walk-behind-sm-alt.png" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="TB R16 16&quot; Walk-Behind Reel Mower" class="title">TB R16&quot; Walk-Behind Reel Mower</a>
							<span class="ratings"><i class="icon-star pictos"><i class="icon-star-over pictos stars"><span class="star-rating">2_5</span></i></i></span>
							<div class="price-buttons">
								<div class="row">
									<div class="cell price">
										<!-- <span class="price-one"><del><strong>$99.99</strong></del></span> -->
										<span class="price-two"><strong>$99.99</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="wrap">
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="Product Name">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/prod-list-3.png" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="TB R18 18&quot; Reel Mower" class="title">TB R18 18&quot; Reel Mower</a>
							<span class="ratings"><i class="icon-star pictos"><i class="icon-star-over pictos stars"><span class="star-rating">1_7</span></i></i></span>
							<div class="price-buttons">
								<div class="row">
									<div class="cell price">
										<!-- <span class="price-one"><del><strong>$99.99</strong></del></span> -->
										<span class="price-two"><strong>$119.99</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="alt">
				<div class="wrap">
					<div class="row">
						<div class="photo cell">
							<a href="/products/detail" title="Product Name">
								<img src="/wcpics/TroyBiltMobile/en_US/images/content/walk-behind-sm-alt.png" alt="Product Name" />
							</a>
						</div>
						<div class="data cell">
							<a href="/products/detail" title="TB110 TriAction&reg; 21&quot; Walk-Behind Push Mower" class="title">TB110 TriAction&reg; 21&quot; Walk-Behind Push Mower</a>
							<span class="no-ratings ratings">No ratings available</span>
							<div class="price-buttons">
								<div class="row">
									<div class="cell price">
										<span class="price-one"><del><strong>$199.99</strong></del></span><br />
										<span class="price-two"><strong>$179.99</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="tab-info">
			<h1>Showing <span class="current-items">1-4</span> of <span class="total-items">8</span></h1>
			<nav class="paging-foot">
				<a href="#">Next</a>
			</nav>
		</div>	
	</div><!-- end products tab-->
	<div class="tab-content search-results-tab" id="videos-articles-results">
		<div class="paging">
			<a href="javascript:alert('Link Not Implemented');" title="Prev" class="inactive">Prev</a>
			<span>1 of 2</span>
			<a href="javascript:alert('Link Not Implemented');" title="Next">Next</a>			
		</div>
		<ul class="doc-list">
			<li>
				<span class="icon-doc"></span><a href="/owners/how-to-articles/article-step-by-step" class="document">How to Change the Spark Plug on a Self-Propelled Mower</a>
			</li>
			<li class="alt">
				<span class="icon-movie"></span><a href="/owners/how-to-articles/video-step-by-step" class="video">How to Change the Air Filter on a Troy-Bilt Edger</a>
			</li>
			<li>
				<span class="icon-doc"></span><a href="/owners/how-to-articles/article" class="document">Get Snow Removal Tips from Troy-Bilt</a>
			</li>
			<li class="alt">
				<span class="icon-doc"></span><a href="/owners/how-to-articles/article-table" class="document">Garden Tiller - Maintenance Schedule and Tips</a>
			</li>
			<li>
				<span class="icon-movie"></span><a href="#" class="video">Meet the Pony from Troy-Bilt</a>
			</li>
			<li class="alt">
				<span class="icon-doc"></span><a href="#" class="document">Meet the Super Bronco from Troy-Bilt</a>
			</li>
			<li>
				<span class="icon-movie"></span><a href="#" class="video">Meet the Pony from Troy-Bilt</a>
			</li>
			<li class="alt">
				<span class="icon-doc"></span><a href="#" class="document">Meet the Super Bronco from Troy-Bilt</a>
			</li>
		</ul>
		<div class="tab-info">
			<h1>Showing <span class="current-items">1-8</span> of <span class="total-items">16</span></h1>
			<nav class="paging-foot">
				<a href="#">Next</a>
			</nav>
		</div>
	</div><!-- end videos / articles tab-->
</div>