<div id="main" role="main" class="main-content">
	<h1>Sign In</h1>
	<!-- Server Side Errors, use html below.
	<ul class="form-errors">
		<li>Please enter your username, it normally is your email address.</li>
		<li>Please enter your password.</li>
	</ul>
	-->
	<% if request.cookies["logged-in"] == 'true' %>
	<p>
		You are currently logged in. Please <a href="/">click here</a> to continue shopping.
	</p>
	<% else %>
	<p>
		Fill in the fields below to sign in.
	</p>
	<div class="checkout-block">
		<form action="/login" method="post" class="validate form-signin" id="form-signin">
			<div class="form-unit">
				<div class="form-input">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" data-valid="error-username" required />
					<a href="/forgot-username" title="forgot username?" id="forgot-username-link">forgot username?</a>
				</div>
				<span class="error-field hide" id="error-username">username is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" data-valid="error-password" required>
					<a href="/forgot-password" title="forgot password?" id="forgot-password-link">forgot password?</a>
				</div>
				<span class="error-field hide" id="error-password">password is a required field</span>
			</div>
			<input type="hidden" name="return_url" value="/" />
			<button class="action red large" type="submit">Sign In</button>	
		</form>
	</div>
	<% end %>
</div>