<nav class="bread">
	<a href="/stores" title="Find Store">Find Store</a> / <a href="/stores/map/<%= params[:id] %>" title="Map It"><strong>Map It</strong></a>
</nav>
<div id="main" role="main" class="main-content form-page">
	<h1>Map It</h1>
	<p>
		Models may vary per store location. Please check with your retailer for specific availability.
	</p>
	<div class="map-result">
		<h2><%= @store[:name] %></h2>
		<p>
			<%= @store[:address] %><br />
			<%= @store[:city] %>, <%= @store[:state] %> <%= @store[:zip] %><br />
			<%= @store[:phone] %>
		</p>
	</div>
	<form action="/stores/directions/<%= @store[:id] %>" method="get" class="form-store-find form-map-it validate" id="form-store-find">
		<input type="hidden" name="storeId" value="<%= @store[:id] %>" />
		<input type="hidden" name="catalogId" value="14102" />
		<input type="hidden" name="map" value="false" />
		<input type="hidden" name="transaction" value="route" />
		<input type="hidden" name="template" value="route" />
		<input type="hidden" name="routeMaps" value="3" />
		<input type="hidden" name="pWidth" value="120" />
		<input type="hidden" name="pHeight" value="120" />
		<input type="hidden" name="destname" value="<%= @store[:name] %>" />
		<input type="hidden" name="destaddress" value="<%= @store[:address] %>" />
		<input type="hidden" name="destcity" value="<%= @store[:city] %>" />
		<input type="hidden" name="deststateprovince" value="<%= @store[:state] %>" />
		<input type="hidden" name="destpostalcode" value="<%= @store[:zip] %>" />
		<input type="hidden" name="latitude" value="<%= @store[:latitude] %>" />
		<input type="hidden" name="longitude" value="<%= @store[:longitude] %>" />
		<input type="hidden" name="origlatitude" id="latitude" value="" />
		<input type="hidden" name="origlongitude" id="longitude" value="" />
		<p>
			Enter your address below for Door-to-Door directions:
		</p>
		<fieldset class="grey">
			<div class="form-unit">
				<div class="form-checkbox-location">
					<div class="form-input">
						<input type="checkbox" name="location" class="geolocate" id="location" value="1" /> 
						<label class="block-label">Use My Current Location <span class="loader hide"><img src="/wcpics/TroyBiltMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
					</div>
				</div>
			</div>
			<!-- <div id="orig-location-fields"> -->
				<p class="geolocate locate-by-zip-wrapper"><strong>OR</strong></p>
				<div class="form-unit locate-by-zip-wrapper">
					<div class="form-input">
						<label for="origaddress">Address:</label>
						<input type="text" id="origaddress" name="origaddress" size="23" required data-valid="error-origaddress">
					</div>
					<span class="error-field hide" id="error-origaddress">Address is a required field</span>
				</div>	
				<div class="form-unit locate-by-zip-wrapper">
					<div class="form-input">
						<label for="origcity">City:</label>
						<input type="text" id="origcity" name="origcity" required data-valid="error-origcity">
					</div>
					<span class="error-field hide" id="error-origcity">City is a required field</span>
				</div>
				<div class="form-unit locate-by-zip-wrapper">
					<div class="form-input">
						<label for="origstateprovince">State:</label>
						<select name="origstateprovince" id="origstateprovince" required data-valid="error-origstateprovince">
							<option value="">--select--</option>
							<option value="AL">Alabama</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>	
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>	
							<option value="NC">North Carolina</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>		
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>		
							<option value="OR">Oregon</option>	
							<option value="PA">Pennsylvania</option>	
							<option value="RI">Rhode Island</option>		
							<option value="SC">South Carolina</option>	
							<option value="SD">South Dakota</option>	
							<option value="TN">Tennessee</option>	
							<option value="TX">Texas</option>	
							<option value="UT">Utah</option>	
							<option value="VT">Vermont</option>	
							<option value="VA">Virginia</option>	
							<option value="WA">Washington</option>
							<option value="DC">Washington DC</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					<span class="error-field hide" id="error-origstateprovince">State is a required field</span>
				</div>
			<!-- </div> -->
		</fieldset>
		<p>
			<button type="submit" class="action red">Get Directions</button>
		</p>
		<div>

		</div>
	</form>

</div>