<% content_for :footer_js do %>
<script type="text/javascript">
window.directions_starting_point = "<%= @start %>";
</script>
<script type="application/json" id="data-directions-locations">
<%= {:locations => @store}.to_json %>
</script>
<script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Gmjtd%7Cluua2hubnl%2Cbn%3Do5-lz8l5"></script>
<script type="text/html" id="directions-step-template">
<div class="row">
  <div class="cell icon"></div>
  <div class="cell narrative"></div>
  <div class="cell distance"><span class="distance-units"></span> mi</div>
</div>
</script>
<% end %>

<div id="main" role="main" class="main-content form-page store-directions">
	<h1>Find a Store</h1>
	<div class="map-result store">
		<h2>Driving Directions</h2>
		<p>
			Start: <strong><%= @start %></strong><br />
			End: <strong><%= @store[:address] %></strong><br />
			Time: <span class="time"><span class="hours"></span> hours <span class="minutes"></span> mins</span> Dist: <span class="distance"></span><br />
			<a href="#" class="toggle-form">Edit Route</a>
		</p>
		<form action="/stores/directions/<%= @id %>" method="get" class="reroute validate" novalidate>
      <h3>Enter Your Starting Address for Driving Directions</h3>
      <div class="form-unit">
        <div class="form-input">
          <input type="text" name="address" id="address" required data-valid="error-address"> 
          <span class="error-field hide" id="error-address">Address is a required field</span>
        </div>
      </div>
      <button class="action red get-directions">Get Directions</button>
      <a href="#" class="toggle-form">Cancel</a>
    </form>
    <div id="route-information" class="table"></div>
    <p class="disclaimer">
      <small><em>Directions and maps are informational only. We make no guarantee of the accuracy of their content, road conditions or route usability. You assume all risk of use.</small></em>
    </p>
	</div>
</div>