<nav class="bread">
	<a href="/stores" title="Find Store">Find Store</a></a>
</nav>
<div id="main" role="main" class="find-store form-page">
	<h1>Find a Store</h1>
	<p>
		Models may vary per store location. Please check with your retailer for specific availability.
	</p>
	<p class="retailer-logos">
		<a href="http://lowes.com"><img src="/wcpics/TroyBiltMobile/en_US/images/content/lowes-icon.png" alt="Lowe's" /></a>
	</p>
	<form action="/stores/results/" method="get" class="find-store-form validate" name="form_store_find" id="form-store-find">
		<input type="hidden" name="latitude" id="latitude" value="">
		<input type="hidden" name="longitude" id="longitude" value="">
		<p class="field-caption">
			Find a store in your area.
		</p>
		<div class="form-unit ">
			<div class="form-input">
				<label for="radius">Within:</label> 
				<select name="radius" id="radius">
					<option value="10">0 to 10 Miles</option>												
					<option value="25">0 to 25 Miles</option>												
					<option value="50">0 to 50 Miles</option>												
					<option value="100">0 to 100 Miles</option>												
					<option value="300">0 to 300 Miles</option>																		
				</select>
			</div>
		</div>
		<fieldset class="grey">
			<div class="form-unit">
				<div class="form-checkbox-location">
					<div class="form-input">
						<input type="checkbox" name="location" class="geolocate" id="location" value="1" /> 
						<label class="block-label">Use My Current Location <span class="loader hide"><img src="/wcpics/TroyBiltMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
					</div>
				</div>
			</div>
			<p class="geolocate locate-by-zip-wrapper"><strong>OR</strong></p>
			<div class="form-unit locate-by-zip-wrapper">
				<div class="form-input">
					<label for="zip">Zip Code:</label>
					<input type="tel" id="zip" name="zip" required data-valid="error-zip-code" pattern="[\d]{5}" maxlength="5">
				</div>
				<span class="error-field hide" id="error-zip-code">Zip Code is a required field</span>
			</div>
		</fieldset>
		<p><button type="submit" class="action red large">Find a Store</button></p>
	</form>		
</div>