	<div id="main" role="main" class="find-store">
		<h1>Find a Store</h1>
		<p>
			Models may vary per store location. Please check with your retailer for specific availability.
		</p>
		<% if @lat != '' && @lon != '' %>
		<p>
			<strong>Locations near my current location within <%=@radius%> miles.</strong>
		</p>
		<% else %>
		<p>
			<strong>Locations near <%=@zip%> within <%=@radius%> miles.</strong>
		</p>
		<% end %>
		<p>
			<a href="/stores" class="action grey search-again">Search Again</a>
		</p>
		<ul class="store-list">
			<% @stores.each do |s|  %>
			<li>
				<p>
					<strong><%= s[:name] %></strong>
					<%= s[:address] %><br />
					<%= s[:city] %>, <%= s[:state] %> <%= s[:zip] %><br />
					Phone: <%= s[:phone] %><br />
					<span class="distance">Distance: 22</span><br />
					<a class="action red map-it" href="/stores/map/<%= s[:id] %>">Map It</a>
				</p>
			</li>
			<% end %>
		</ul>
	</div>	