  <div id="main" role="main" class="find-store form-page">
    <h1>Find a Store</h1>
    <form action="/stores" method="get" class="find-store-form validate" name="form_store_find" id="form-store-find">
      <h2>Stores in your area</h2>
      <input type="hidden" name="latitude" id="latitude" value="">
      <input type="hidden" name="longitude" id="longitude" value="">
      <div class="form-unit">
        <div class="form-input">
          We found 4 stores <label for="radius">within</label> 
          <select name="radius" id="radius">
            <option value="10"<%= @radius == '10' ? ' selected' : '' %>>10 Miles</option>                       
            <option value="25"<%= @radius == '25' ? ' selected' : '' %>>25 Miles</option>                       
            <option value="50"<%= @radius == '50' ? ' selected' : '' %>>50 Miles</option>                       
            <option value="100"<%= @radius == '100' ? ' selected' : '' %>>100 Miles</option>                       
            <option value="300"<%= @radius == '300' ? ' selected' : '' %>>300 Miles</option>                                   
          </select>
        </div>
      </div>
      <div class="form-unit<%= @current_location ? ' hide' : '' %> locate-by-zip-wrapper">
        <div class="form-input">
          of <label for="zip" class="zip">ZIP Code</label> 
          <input type="tel" value="<%=  @zip if @zip %>" name="zip" id="zip" pattern="\d{5}" required data-valid="error-zip-code">
          <span class="error-field hide" id="error-zip-code">Zip Code is a required field</span>
        </div>
      </div>
      <div class="form-unit">
        <div class="form-checkbox-location">
          <div class="form-input">
            <input type="checkbox" name="location" class="geolocate" id="location" value="1" <%= @current_location ? ' checked' : '' %> /> 
            <label class="block-label current-location">Use My Current Location <span class="loader hide"><img src="/wcpics/TroyBiltMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
          </div>
        </div>
      </div>
      <p>
        <button class="action red update-stores">Update Stores</button>
      </p>
    </form>
    <% if @results %>
    <ol class="store-list">
      <% @stores.each_with_index do |s, i|  %>
      <li class="store">
        <div class="table">
          <div class="row">
            <div class="cell address">
              <strong><%= s[:name] %></strong><br />
              <%= s[:address] %><br />
              <%= s[:city] %>, <%= s[:state] %> <%= s[:zip] %><br />
              Phone: <%= s[:phone] %><br />
              <a href="#" class="toggle-form">Driving Directions</a>
            </div>
            <div class="cell distance">
              <strong>3.0 mi</strong>
              <p>
                <a href="http://lowes.com"><img src="/wcpics/TroyBiltMobile/en_US/images/content/lowes-icon-small.png" alt="Lowe's" width="38" height="17" /></a>
              </p>
            </div>
          </div>
        </div>
        <form action="/stores/directions/<%= s[:id] %>" method="get" class="validate" novalidate>
          <h3>Enter Your Starting Address for Driving Directions</h3>
          <div class="form-unit">
            <div class="form-input">
              <input type="text" name="address" id="address-<%= i %>" required data-valid="error-address-<%= i %>"> 
              <span class="error-field hide" id="error-address-<%= i %>">Address is a required field</span>
            </div>
          </div>
          <button class="action red get-directions">Get Directions</button>
          <a href="#" class="toggle-form">Cancel</a>
        </form>
      </li>
      <% end %>
    </ol>
    <p class="online-retailers">
      <strong>Troy-Bilt products are also available from these online retailers:</strong>
    </p>
    <p class="aligncenter">  
      <a href="#" class="logo-link"><img src="/wcpics/TroyBiltMobile/en_US/images/content/amazon-logo.png" height="18" width="87" alt="Amazon Logo"></a>
      <a href="#" class="logo-link"><img src="/wcpics/TroyBiltMobile/en_US/images/content/ped-logo.png" height="33" width="63" alt="Ped Logo"></a>
    </p>
    <p class="find-store-disclaimer">Models and prices may vary per store locations. Please check with your retailer for specific availability.</p>
    <% end %>
  </div>  