<div id="main" role="main" class="main-content tips-advice">
  <article>
    <% if @email_success %>
    <p class="success">
      Your email(s) have been sent. Your friends should receive them shortly.
    </p>
    <% end %>
    <h1>Leaf Cleanup Tips and Leaf Removal Equipment from Troy-Bilt</h1>
    <p>
      Fall foliage may be beautiful to look at, but think twice before you allow it to accumulate on your lawn. If you don't keep up with leaf removal, a blanket of leaves can suffocate your grass and block it from getting the sunlight, water and nutrients it needs. A good rule of thumb is that if you can't see your lawn through the leaves, it can't grow.
    </p>
    <p>
      Troy-Bilt offers a variety of leaf removal equipment, including blowers and chipper shredder vacuums. In addition to our reliable products, take advantage of these leaf removal tips to simplify your fall lawn care. Before you begin, be sure to pick up any rocks or other materials in your yard that could damage your leaf removal equipment.
    </p>
    <div class="article-pic floatright">
      <img src="/wcpics/TroyBiltMobile/en_US/images/content/leaf-blower-article-pic.jpg" alt="Leaf Blower Image" />
      <p>
        <em>Vivamus ornare est non wisi. Proin vel quam. Vivamus egestas. Nunc tempor diam vehicula mauris. Nullam sapien eros, facilisis vel, eleifend non pede.</em>
      </p>
    </div>
    <h2>Leaf removal with a blower</h2>
    <p>
      Using a leaf blower is one of the quickest ways to clear your yard. <a href="#" onclick="alert('link not implemented'); return false">The Troy-Bilt cordless blower</a> and <a href="#" onclick="alert('link not implemented'); return false">other leaf blowers from Troy-Bilt</a> will help you get all your debris in one place, making it easier to rake, bag and prepare for pickup. For simpler leaf removal, use a <a href="#" onclick="alert('link not implemented'); return false">blower with a vacuum feature</a> that will collect and bag the debris for you.
    </p>
    <div class="article-pic floatright">
      <img src="/wcpics/TroyBiltMobile/en_US/images/content/leaf-blower-article-pic.jpg" alt="Leaf Blower Image" />
      <p>
        <em>Vivamus ornare est non wisi. Proin vel quam. Vivamus egestas. Nunc tempor diam vehicula mauris. Nullam sapien eros, facilisis vel, eleifend non pede.</em>
      </p>
    </div>
    <h2>Mulch leaves with your mower</h2>
    <p>
      If you only have a light scattering of leaves in your yard, you can use your <a href="#" onclick="alert('link not implemented'); return false">Troy-Bilt lawn mower</a> to bag most of them. Or, if you have a <a href="#" onclick="alert('link not implemented'); return false">mulching mower</a>, you can pass over your lawn until they are finely chopped. Instead of bagging and disposing of the mulched leaves, you can leave them on your grass. In addition to saving you the work of leaf removal, keeping the mulched leaves on your lawn will allow your grass and soil to absorb nutrients and organic matter. This fortification will help your lawn survive the winter months and improve its appearance in the spring.  
    </p>
    <div class="article-pic floatright">
      <img src="/wcpics/TroyBiltMobile/en_US/images/content/leaf-blower-article-pic.jpg" alt="Leaf Blower Image" />
      <p>
        <em>Vivamus ornare est non wisi. Proin vel quam. Vivamus egestas. Nunc tempor diam vehicula mauris. Nullam sapien eros, facilisis vel, eleifend non pede.</em>
      </p>
    </div>
    <h2>Leaf cleanup and recycling with a chipper shredder vacuum</h2>
    <p>
      For heavier leaf fall, you should use equipment that was designed for leaf cleanup.  A <a href="#" onclick="alert('link not implemented'); return false">chipper shredder vacuum</a> sucks up, shreds and bags leaves in one easy step. An <a href="#" onclick="alert('link not implemented'); return false">all-in-one shredder, vacuum and blower</a> also mulches leaves as you go.  Once you've cleared the leaves, redistribute them over your lawn. Just be sure that you can still see the grass through the layer of chopped leaves.
    </p>
    <h2>Composting your leaves</h2>
    <p>
      Another way to recycle your leaves is to use them to make compost. After you've used your mower or leaf removal equipment to shred your leaves, put them in a pile or a composting bin. Then, mix in a source of nitrogen, such as grass clippings, to accelerate the decomposition process. You should keep the leaves damp and turn them every few weeks.
    </p>
    <p>
      If you turn your leaves frequently, you can have compost in as little as three months. How long it takes for leaves to decompose depends, in part, on the season. Leaves decay more quickly in the summer than in the winter. During the winter months, stop turning the leaves to prevent heat loss. When your compost is ready, you can use it to fertilize your soil. Before planting in the spring, use you Troy-Bilt garden tiller to mix your compost into your soil beds.
    </p>
    <p>
      Proper leaf cleanup will give your grass enough room to breathe and help it come back healthier in the spring. Rely on Troy-Bilt for all the leaf removal equipment you need to make your fall leaf cleanup easier and more efficient, so you can get back to enjoying the weather.
    </p>
  </article>
  <aside>
    <ul class="share-bar">
      <li>
        <div class="fb-like" data-href="http://troymobile.herokuapp.com/tips/article-b" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Troy_Bilt" data-count="none" data-dnt="true">Tweet</a>
      </li>
      <li>
        <a data-pin-config="none" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
      </li>
      <li>
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </li>
      <li>
        <script type="IN/Share"></script>
      </li>
      <li class="last">
        <span class="img-wrap">
          <a href="/email-friend?uri=<%=@doc_uri%>&title=<%=@doc_title%>" class="email" title="Email a Friend">Email a Friend</a>
        </span>
      </li>
    </ul>
    <div class="related">
      <h2>Read more</h2>
      <ul>
        <li><a href="/tips/article-a">Snow and Ice Removal Tips</a></li>
        <li><a href="/tips/article-a">How to Prepare Your Snow Thrower for Winter Use</a></li>
        <li><a href="/tips/article-a">How to Clean Out a Clogged Snow Thrower Chute</a></li>
      </ul>
    </div>
    <div class="related">
      <h2>Related videos</h2>
      <ul>
          <li><a href="/tips/video">How to Prepare Your Snow Thrower for Winter Use</a></li>
          <li><a href="/tips/video">How to Prepare Your Riding Mower for Storage in the Off Season</a></li>
      </ul>
    </div>
    <div class="to-top">
      <a href="#top" title="Back to Top" class="action grey">Back to Top</a>
    </div>
  </aside>
</div>