<div id="main" role="main" class="main-content tips-advice">
  <article>
    <h1>Getting to Know Your Troy-Bilt Riding Mower</h1>
    <div class="video-thumb">
      <iframe width="480" src="http://www.youtube.com/embed/hVkNlXGQPZc" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>
      This video will cover a quick, general overview of your Troy-Bilt riding lawn mower, along with some helpful tips to keep your mower running strong. Before beginning, be sure your mower is on a flat level surface.
    </p>
  </article>
  <aside>
    <div class="share-this-buttons">
      <script type="text/javascript">var switchTo5x=true;</script>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
    <div class="related">
      <h2>Read more</h2>
      <ul>
        <li><a href="/tips/article-a">Snow and Ice Removal Tips</a></li>
        <li><a href="/tips/article-b">How to Prepare Your Snow Thrower for Winter Use</a></li>
        <li><a href="/tips/article-a">How to Clean Out a Clogged Snow Thrower Chute</a></li>
      </ul>
    </div>
    <div class="related">
      <h2>Related videos</h2>
      <ul>
          <li><a href="/tips/video">How to Prepare Your Snow Thrower for Winter Use</a></li>
          <li><a href="/tips/video">How to Prepare Your Riding Mower for Storage in the Off Season</a></li>
      </ul>
    </div>
    <div class="to-top">
      <a href="#top" title="Back to Top" class="action grey">Back to Top</a>
    </div>
  </aside>
</div>