<nav class="bread">
	<a href="/videos" title="Watch Videos">Watch Videos</a> / <a href="/videos/<%=@category%>" title="<%=@category_title%>"><strong><%=@category_title%></strong></a>
</nav>
<div id="main" role="main">
	<nav class="drill-down">
		<ul>
			<li<%=@category == 'maintenance' ? ' class="active"' : ''%>><a href="/videos/maintenance" title="Maintenance">Maintenance <span class="count">(13)</span> <span class="plus-r pictos<%=(@category == 'maintenance' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'maintenance') %>
				<ul class="level-two video-list">
					<li><a href="/owners/how-to-articles/article-step-by-step" title="How to Make Your Own Potting Soil"><span class="icon-article"></span> How to Make Your Own Potting Soil</a></li>
					<li><a href="http://youtu.be/Wp0Ki_4S22M" title="Wine Bottle Edging"><span class="icon-movie"></span> Wine Bottle Edging <span class="time">6:51</span></a></li>
					<li><a href="http://youtu.be/mDHnV3jA3SU" title="Succulents"><span class="icon-movie"></span> Succulents <span class="time">5:22</a></li>
					<li><a href="http://youtu.be/Ti1564QXhnI" title="Container Gardening"><span class="icon-movie"></span> Container Gardening <span class="time">9:03</span></a></li>
					<li><a href="http://youtu.be/n9ey5pcJxQU" title="Creating Structure in Your Garden"><span class="icon-movie"></span> Creating Structure in Your Garden <span class="time">8:12</span></a></li>
					<li><a href="http://youtu.be/xnaLQhIal28" title="All About Dirt"><span class="icon-movie"></span> All About Dirt <span class="time">12:33</span></a></li>
					<li><a href="http://youtu.be/IESYRc8Y3sI" title="Planting Your New Bed"><span class="icon-movie"></span> Planting Your New Bed <span class="time">7:16</span></a></li>
					<li><a href="http://youtu.be/GVGu67kz2f4" title="Layering to Create Garden Pathways"><span class="icon-movie"></span> Layering to Create Garden Pathways <span class="time">5:09</span></a></li>
					<li><a href="http://youtu.be/BnOT6ncALlw" title="How to Build a Compost Bin"><span class="icon-movie"></span> How to Build a Compost Bin <span class="time">3:43</span></a></li>
					<li><a href="http://youtu.be/pQTbYgRP_Q0" title="How to Make Your Own Potting Soil"><span class="icon-movie"></span> How to Make Your Own Potting Soil <span class="time">7:43</span></a></li>
					<li><a href="http://youtu.be/Wp0Ki_4S22M" title="Wine Bottle Edging"><span class="icon-movie"></span> Wine Bottle Edging <span class="time">6:51</span></a></li>
					<li><a href="http://youtu.be/mDHnV3jA3SU" title="Succulents"><span class="icon-movie"></span> Succulents <span class="time">5:22</span></a></li>
					<li><a href="http://youtu.be/Ti1564QXhnI" title="Container Gardening"><span class="icon-movie"></span> Container Gardening <span class="time">9:03</span></a></li>
				</ul>
				<% end %>
			</li>
			<li<%=@category == 'repairs' ? ' class="active"' : ''%>><a href="/videos/repairs" title="Repairs">Repairs <span class="count">(3)</span> <span class="plus-r pictos<%=(@category == 'repairs' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'repairs') %>
				<ul class="level-two video-list">
					<li><a href="http://youtu.be/pQTbYgRP_Q0" title="How to Make Your Own Potting Soil"><span class="icon-movie"></span> How to Make Your Own Potting Soil <span class="time">7:43</span></a></li>
					<li><a href="http://youtu.be/Wp0Ki_4S22M" title="Wine Bottle Edging"><span class="icon-movie"></span> Wine Bottle Edging <span class="time">6:51</span></a></li>
					<li><a href="http://youtu.be/mDHnV3jA3SU" title="Succulents"><span class="icon-movie"></span> Succulents <span class="time">5:22</span></a></li>
				</ul>
				<% end %>
			</li>
			<li<%=@category == 'tips-tricks' ? ' class="active"' : ''%>><a href="/videos/tips-tricks" title="Tips &amp; Tricks">Tips &amp; Tricks <span class="count">(5)</span> <span class="plus-r pictos<%=(@category == 'tips-tricks' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'tips-tricks') %>
				<ul class="level-two video-list">
					<li><a href="http://youtu.be/pQTbYgRP_Q0" title="How to Make Your Own Potting Soil"><span class="icon-movie"></span> How to Make Your Own Potting Soil <span class="time">7:43</span></a></li>
					<li><a href="http://youtu.be/Wp0Ki_4S22M" title="Wine Bottle Edging"><span class="icon-movie"></span> Wine Bottle Edging <span class="time">6:51</span></a></li>
					<li><a href="http://youtu.be/mDHnV3jA3SU" title="Succulents"><span class="icon-movie"></span> Succulents <span class="time">5:22</span></a></li>
					<li><a href="http://youtu.be/Ti1564QXhnI" title="Container Gardening"><span class="icon-movie"></span> Container Gardening <span class="time">9:03</span></a></li>
					<li><a href="http://youtu.be/n9ey5pcJxQU" title="Creating Structure in Your Garden"><span class="icon-movie"></span> Creating Structure in Your Garden <span class="time">8:12</span></a></li>
				</ul>
				<% end %>
			</li>
			<li<%=@category == 'gardening-videos' ? ' class="active"' : ''%>><a href="/videos/gardening-videos" title="Gardening Videos">Gardening Videos <span class="count">(9)</span> <span class="plus-r pictos<%=(@category == 'gardening-videos' ? ' icon-circle-minus' : ' icon-circle-plus' )%>"></span></a>
				<% if (@category == 'gardening-videos') %>
				<ul class="level-two video-list">
					<li><a href="http://youtu.be/pQTbYgRP_Q0" title="How to Make Your Own Potting Soil"><span class="icon-movie"></span> How to Make Your Own Potting Soil <span class="time">7:43</span></a></li>
					<li><a href="http://youtu.be/Wp0Ki_4S22M" title="Wine Bottle Edging"><span class="icon-movie"></span> Wine Bottle Edging <span class="time">6:51</span></a></li>
					<li><a href="http://youtu.be/mDHnV3jA3SU" title="Succulents"><span class="icon-movie"></span> Succulents <span class="time">5:22</span></a></li>
					<li><a href="http://youtu.be/Ti1564QXhnI" title="Container Gardening"><span class="icon-movie"></span> Container Gardening <span class="time">9:03</span></a></li>
					<li><a href="http://youtu.be/n9ey5pcJxQU" title="Creating Structure in Your Garden"><span class="icon-movie"></span> Creating Structure in Your Garden <span class="time">8:12</span></a></li>
					<li><a href="http://youtu.be/xnaLQhIal28" title="All About Dirt"><span class="icon-movie"></span> All About Dirt <span class="time">12:33</span></a></li>
					<li><a href="http://youtu.be/IESYRc8Y3sI" title="Planting Your New Bed"><span class="icon-movie"></span> Planting Your New Bed <span class="time">7:16</span></a></li>
					<li><a href="http://youtu.be/GVGu67kz2f4" title="Layering to Create Garden Pathways"><span class="icon-movie"></span> Layering to Create Garden Pathways <span class="time">5:09</span></a></li>
					<li><a href="http://youtu.be/BnOT6ncALlw" title="How to Build a Compost Bin"><span class="icon-movie"></span> How to Build a Compost Bin <span class="time">3:43</span></a></li>
				</ul>
				<% end %>
			</li>
		</ul>
	</nav>		
	<div class="espot">
		<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
	</div>
</div>