<nav class="bread">
	<a href="/videos" title="Watch Videos"><strong>Watch Videos</strong></a>
</nav>
<div id="main" role="main">
	<nav class="drill-down">
		<ul>
			<li><a href="/videos/maintenance" title="Maintenance">Maintenance <span class="count">(13)</span> <span class="plus-r pictos icon-circle-plus"></span></a></li>
			<li><a href="/videos/repairs" title="Repairs">Repairs <span class="count">(3)</span> <span class="plus-r pictos icon-circle-plus"></span></a></li>
			<li><a href="/videos/tips-tricks" title="Tips &amp; Tricks">Tips &amp; Tricks <span class="count">(5)</span> <span class="plus-r pictos icon-circle-plus"></span></a></li>
			<li><a href="/videos/gardening-videos" title="Gardening Videos">Gardening Videos <span class="count">(9)</span> <span class="plus-r pictos icon-circle-plus"></span></a></li>
		</ul>
	</nav>		
	<div class="espot">
		<a href="#" title="e-spot"><img src="/wcpics/TroyBiltMobile/en_US/images/content/espot-generic.gif" alt="Enter the text contained in the e-spot here."></a>
	</div>
</div>